# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions = pd.read_csv('data/Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
admissions.columns = [col.strip() for col in admissions.columns]
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
for col in admissions.columns:
    print(admissions[col].isnull().value_counts())

False    385
Name: Serial No., dtype: int64
False    385
Name: GRE Score, dtype: int64
False    385
Name: TOEFL Score, dtype: int64
False    385
Name: University Rating, dtype: int64
False    385
Name: SOP, dtype: int64
False    385
Name: LOR, dtype: int64
False    385
Name: CGPA, dtype: int64
False    385
Name: Research, dtype: int64
False    385
Name: Chance of Admit, dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
admissions.set_index('Serial No.', drop=False, inplace=True)
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here
admissions['Combined'] = admissions['GRE Score'].astype('str') + admissions['CGPA'].astype('str')
len(admissions['Combined'].unique())

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here
admissions.set_index(['GRE Score','CGPA'], inplace=True)
admissions.reset_index(inplace=True)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined
0,337,9.65,1,118,4,4.5,4.5,1,0.92,3379.65
1,316,8.00,2,104,3,3.0,3.5,1,0.72,3168.0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3228.67
3,314,8.21,4,103,2,2.0,3.0,0,0.65,3148.21
4,330,9.34,5,115,5,4.5,3.0,1,0.90,3309.34
...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,3249.04
381,325,9.11,382,107,3,3.0,3.5,1,0.84,3259.11
382,330,9.45,383,116,4,5.0,4.5,1,0.91,3309.45
383,312,8.78,384,103,3,3.5,4.0,0,0.67,3128.78
384,333,9.66,385,117,4,5.0,4.0,1,0.95,3339.66

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# your code here
admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined
0,337,9.65,1,118,4,4.5,4.5,1,0.92,3379.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90,3309.34
10,328,9.10,11,112,4,4.0,4.5,1,0.78,3289.1
19,328,9.50,20,116,5,5.0,5.0,1,0.94,3289.5
20,334,9.70,21,119,5,5.0,4.5,1,0.95,3349.7
...,...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89,3299.23
380,324,9.04,381,110,3,3.5,3.5,1,0.82,3249.04
381,325,9.11,382,107,3,3.0,3.5,1,0.84,3259.11
382,330,9.45,383,116,4,5.0,4.5,1,0.91,3309.45
384,333,9.66,385,117,4,5.0,4.0,1,0.95,3339.66

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# your code here
admissions.loc[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5), 'Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [11]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return (col - col.mean())/col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [12]:
# your code here
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,3379.65,1.747900,1.753381,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,3168.0,-0.991211,-0.063367,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3228.67,0.121034,0.455704,-1.038166
3,314,8.21,4,103,2,2.0,3.0,0,0.65,3148.21,-0.642597,-0.236391,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,3309.34,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,3249.04,0.735259,0.628727,0.076740
381,325,9.11,382,107,3,3.0,3.5,1,0.84,3259.11,0.851463,0.715239,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,3309.45,1.415886,1.147798,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,3128.78,0.303641,-0.409414,0.634193
384,333,9.66,385,117,4,5.0,4.0,1,0.95,3339.66,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [13]:
# Libraries
from random import choices

In [14]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [15]:
# your code here
admissions['Deciding Column'] = admissions.lookup(admissions.index, decision_choice)
admissions

C:\Users\menez\AppData\Local\Temp\ipykernel_6024\1984944309.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions['Deciding Column'] = admissions.lookup(admissions.index, decision_choice)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined,CGPA_std,GRE_std,LOR_std,Deciding Column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,3379.65,1.747900,1.753381,1.191647,1.753381
1,316,8.00,2,104,3,3.0,3.5,1,0.72,3168.0,-0.991211,-0.063367,0.076740,-0.063367
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3228.67,0.121034,0.455704,-1.038166,0.121034
3,314,8.21,4,103,2,2.0,3.0,0,0.65,3148.21,-0.642597,-0.236391,-0.480713,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,3309.34,1.233279,1.147798,-0.480713,1.147798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,3249.04,0.735259,0.628727,0.076740,0.076740
381,325,9.11,382,107,3,3.0,3.5,1,0.84,3259.11,0.851463,0.715239,0.076740,0.851463
382,330,9.45,383,116,4,5.0,4.5,1,0.91,3309.45,1.415886,1.147798,1.191647,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,3128.78,0.303641,-0.409414,0.634193,0.634193
384,333,9.66,385,117,4,5.0,4.0,1,0.95,3339.66,1.764500,1.407334,0.634193,0.634193

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [16]:
# your code here

admissions.loc[admissions['Deciding Column'] > 0.8, 'Decision'] = 1
admissions.loc[admissions['Deciding Column'] <= 0.8, 'Decision'] = 0
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined,CGPA_std,GRE_std,LOR_std,Deciding Column,Decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,3379.65,1.747900,1.753381,1.191647,1.753381,1.0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,3168.0,-0.991211,-0.063367,0.076740,-0.063367,0.0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3228.67,0.121034,0.455704,-1.038166,0.121034,0.0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,3148.21,-0.642597,-0.236391,-0.480713,-0.480713,0.0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,3309.34,1.233279,1.147798,-0.480713,1.147798,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,3249.04,0.735259,0.628727,0.076740,0.076740,0.0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,3259.11,0.851463,0.715239,0.076740,0.851463,1.0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,3309.45,1.415886,1.147798,1.191647,1.191647,1.0
383,312,8.78,384,103,3,3.5,4.0,0,0.67,3128.78,0.303641,-0.409414,0.634193,0.634193,0.0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,3339.66,1.764500,1.407334,0.634193,0.634193,0.0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [17]:
# your code here
admissions['Decision'].sum()

91.0

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [25]:
# your code here
admissions.columns = [s.strip('.').replace(' ', '_').lower() for s in admissions.columns]
admissions

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,combined,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,3379.65,1.747900,1.753381,1.191647,1.753381,1.0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,3168.0,-0.991211,-0.063367,0.076740,-0.063367,0.0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3228.67,0.121034,0.455704,-1.038166,0.121034,0.0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,3148.21,-0.642597,-0.236391,-0.480713,-0.480713,0.0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,3309.34,1.233279,1.147798,-0.480713,1.147798,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,3249.04,0.735259,0.628727,0.076740,0.076740,0.0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,3259.11,0.851463,0.715239,0.076740,0.851463,1.0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,3309.45,1.415886,1.147798,1.191647,1.191647,1.0
383,312,8.78,384,103,3,3.5,4.0,0,0.67,3128.78,0.303641,-0.409414,0.634193,0.634193,0.0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,3339.66,1.764500,1.407334,0.634193,0.634193,0.0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [27]:
# your code here
admissions['adjusted_gre'] = admissions['gre_score'][admissions['gre_score'] > 3] = admissions['gre_score'] + 10
bins = ["low", "mid", "high", "very high"]
bins = pd.cut(admissions['adjusted_gre'], 4, labels=bins)
admissions['bins'] = bins
display(admissions)

C:\Users\menez\AppData\Local\Temp\ipykernel_6024\257602360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admissions['adjusted_gre'] = admissions['gre_score'][admissions['gre_score'] > 3] = admissions['gre_score'] + 10

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,combined,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,bins
0,357,9.65,1,118,4,4.5,4.5,1,0.92,3379.65,1.747900,1.753381,1.191647,1.753381,1.0,357,very high
1,336,8.00,2,104,3,3.0,3.5,1,0.72,3168.0,-0.991211,-0.063367,0.076740,-0.063367,0.0,336,high
2,342,8.67,3,110,3,3.5,2.5,1,0.80,3228.67,0.121034,0.455704,-1.038166,0.121034,0.0,342,high
3,334,8.21,4,103,2,2.0,3.0,0,0.65,3148.21,-0.642597,-0.236391,-0.480713,-0.480713,0.0,334,mid
4,350,9.34,5,115,5,4.5,3.0,1,0.90,3309.34,1.233279,1.147798,-0.480713,1.147798,1.0,350,very high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,344,9.04,381,110,3,3.5,3.5,1,0.82,3249.04,0.735259,0.628727,0.076740,0.076740,0.0,344,high
381,345,9.11,382,107,3,3.0,3.5,1,0.84,3259.11,0.851463,0.715239,0.076740,0.851463,1.0,345,high
382,350,9.45,383,116,4,5.0,4.5,1,0.91,3309.45,1.415886,1.147798,1.191647,1.191647,1.0,350,very high
383,332,8.78,384,103,3,3.5,4.0,0,0.67,3128.78,0.303641,-0.409414,0.634193,0.634193,0.0,332,mid
384,353,9.66,385,117,4,5.0,4.0,1,0.95,3339.66,1.764500,1.407334,0.634193,0.634193,0.0,353,very high