# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
adm = pd.read_csv('data/Admission_Predict.csv', index_col=0)
adm

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
adm.columns = [column.strip() for column in adm.columns]
adm.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
adm.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
adm.isna().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here

## this was done in pd.read_csv... but i'll double it as a column
adm['SN'] = adm.index

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
len(adm['GRE Score'].unique()) == adm['GRE Score'].count()
## GRE Score by itself doesn't uniquely identify the data

len(adm['CGPA'].unique()) == adm['CGPA'].count()
## GRE Score by itself doesn't uniquely identify the data

adm['constructed_SN'] = adm['CGPA'].astype(str) + '_' +  adm['GRE Score'].astype(str) 
len(adm['constructed_SN'].unique()) == adm['constructed_SN'].count()
## a concat of both columns will give us an UUID

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here
adm.index = [adm['GRE Score'], adm['CGPA']]
adm

,,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,SN,constructed_SN
GRE Score,CGPA,,,,,,,,,,
337,9.65,337,118,4,4.5,4.5,9.65,1,0.92,1,9.65_337
316,8.00,316,104,3,3.0,3.5,8.00,1,0.72,2,8.0_316
322,8.67,322,110,3,3.5,2.5,8.67,1,0.80,3,8.67_322
314,8.21,314,103,2,2.0,3.0,8.21,0,0.65,4,8.21_314
330,9.34,330,115,5,4.5,3.0,9.34,1,0.90,5,9.34_330
...,...,...,...,...,...,...,...,...,...,...,...
324,9.04,324,110,3,3.5,3.5,9.04,1,0.82,381,9.04_324
325,9.11,325,107,3,3.0,3.5,9.11,1,0.84,382,9.11_325
330,9.45,330,116,4,5.0,4.5,9.45,1,0.91,383,9.45_330
312,8.78,312,103,3,3.5,4.0,8.78,0,0.67,384,8.78_312
333,9.66,333,117,4,5.0,4.0,9.66,1,0.95,385,9.66_333

In [9]:
adm = adm.loc[:, [c for c in adm.columns if c not in ['GRE Score', 'CGPA']]]
adm

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,SN,constructed_SN
GRE Score,CGPA,,,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92,1,9.65_337
316,8.00,104,3,3.0,3.5,1,0.72,2,8.0_316
322,8.67,110,3,3.5,2.5,1,0.80,3,8.67_322
314,8.21,103,2,2.0,3.0,0,0.65,4,8.21_314
330,9.34,115,5,4.5,3.0,1,0.90,5,9.34_330
...,...,...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82,381,9.04_324
325,9.11,107,3,3.0,3.5,1,0.84,382,9.11_325
330,9.45,116,4,5.0,4.5,1,0.91,383,9.45_330
312,8.78,103,3,3.5,4.0,0,0.67,384,8.78_312
333,9.66,117,4,5.0,4.0,1,0.95,385,9.66_333

In [10]:
adm.reset_index(inplace = True)
adm

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,SN,constructed_SN
0,337,9.65,118,4,4.5,4.5,1,0.92,1,9.65_337
1,316,8.00,104,3,3.0,3.5,1,0.72,2,8.0_316
2,322,8.67,110,3,3.5,2.5,1,0.80,3,8.67_322
3,314,8.21,103,2,2.0,3.0,0,0.65,4,8.21_314
4,330,9.34,115,5,4.5,3.0,1,0.90,5,9.34_330
...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,381,9.04_324
381,325,9.11,107,3,3.0,3.5,1,0.84,382,9.11_325
382,330,9.45,116,4,5.0,4.5,1,0.91,383,9.45_330
383,312,8.78,103,3,3.5,4.0,0,0.67,384,8.78_312
384,333,9.66,117,4,5.0,4.0,1,0.95,385,9.66_333

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [11]:
# your code here
adm.loc[(adm.CGPA > 9) & (adm.Research == 1)].shape [0]

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [12]:
# your code here
adm.loc[(adm.CGPA > 9) & (adm.SOP <= 3.5)]['Chance of Admit'].mean()

0.8040000000000002

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [13]:
def standardize(x):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    return (x - np.mean(x))/np.std(x)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [14]:
adm['CGPA_sd']= standardize(adm.CGPA)

In [15]:
adm['GRE_sd'] = standardize(adm['GRE Score'])

In [16]:
adm['LOR_sd'] = standardize(adm.LOR)

We will generate the decision choice at random using the code below. Please run the cell.

In [17]:
from random import choices

In [18]:
std_columns = ['CGPA_sd', 'GRE_sd', 'LOR_sd']

decision_choice = choices(std_columns, k=adm.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [19]:
# your code here
adm['deciding_column'] = adm.lookup(adm.index, decision_choice)
adm

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,SN,constructed_SN,CGPA_sd,GRE_sd,LOR_sd,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1,9.65_337,1.750174,1.755663,1.193197,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,2,8.0_316,-0.992501,-0.063450,0.076840,-0.992501
2,322,8.67,110,3,3.5,2.5,1,0.80,3,8.67_322,0.121191,0.456297,-1.039517,0.121191
3,314,8.21,103,2,2.0,3.0,0,0.65,4,8.21_314,-0.643433,-0.236698,-0.481338,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,5,9.34_330,1.234884,1.149292,-0.481338,1.149292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,381,9.04_324,0.736216,0.629546,0.076840,0.629546
381,325,9.11,107,3,3.0,3.5,1,0.84,382,9.11_325,0.852571,0.716170,0.076840,0.076840
382,330,9.45,116,4,5.0,4.5,1,0.91,383,9.45_330,1.417729,1.149292,1.193197,1.149292
383,312,8.78,103,3,3.5,4.0,0,0.67,384,8.78_312,0.304036,-0.409947,0.635019,0.304036
384,333,9.66,117,4,5.0,4.0,1,0.95,385,9.66_333,1.766796,1.409165,0.635019,1.766796

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [20]:
# your code here
adm['decision'] = adm.apply (lambda x: 1 if x['deciding_column']>0.8 else 0, axis = 1)
adm

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,SN,constructed_SN,CGPA_sd,GRE_sd,LOR_sd,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1,9.65_337,1.750174,1.755663,1.193197,1.193197,1
1,316,8.00,104,3,3.0,3.5,1,0.72,2,8.0_316,-0.992501,-0.063450,0.076840,-0.992501,0
2,322,8.67,110,3,3.5,2.5,1,0.80,3,8.67_322,0.121191,0.456297,-1.039517,0.121191,0
3,314,8.21,103,2,2.0,3.0,0,0.65,4,8.21_314,-0.643433,-0.236698,-0.481338,-0.481338,0
4,330,9.34,115,5,4.5,3.0,1,0.90,5,9.34_330,1.234884,1.149292,-0.481338,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,381,9.04_324,0.736216,0.629546,0.076840,0.629546,0
381,325,9.11,107,3,3.0,3.5,1,0.84,382,9.11_325,0.852571,0.716170,0.076840,0.076840,0
382,330,9.45,116,4,5.0,4.5,1,0.91,383,9.45_330,1.417729,1.149292,1.193197,1.149292,1
383,312,8.78,103,3,3.5,4.0,0,0.67,384,8.78_312,0.304036,-0.409947,0.635019,0.304036,0
384,333,9.66,117,4,5.0,4.0,1,0.95,385,9.66_333,1.766796,1.409165,0.635019,1.766796,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [32]:
adm.loc[adm.decision == 1].shape[0]

88

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [38]:
adm.columns = adm.columns.str.replace(' ','_').str.replace('[\W]+','').str.lower()
adm

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,sn,constructed_sn,cgpa_sd,gre_sd,lor_sd,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1,9.65_337,1.750174,1.755663,1.193197,1.193197,1
1,316,8.00,104,3,3.0,3.5,1,0.72,2,8.0_316,-0.992501,-0.063450,0.076840,-0.992501,0
2,322,8.67,110,3,3.5,2.5,1,0.80,3,8.67_322,0.121191,0.456297,-1.039517,0.121191,0
3,314,8.21,103,2,2.0,3.0,0,0.65,4,8.21_314,-0.643433,-0.236698,-0.481338,-0.481338,0
4,330,9.34,115,5,4.5,3.0,1,0.90,5,9.34_330,1.234884,1.149292,-0.481338,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,381,9.04_324,0.736216,0.629546,0.076840,0.629546,0
381,325,9.11,107,3,3.0,3.5,1,0.84,382,9.11_325,0.852571,0.716170,0.076840,0.076840,0
382,330,9.45,116,4,5.0,4.5,1,0.91,383,9.45_330,1.417729,1.149292,1.193197,1.149292,1
383,312,8.78,103,3,3.5,4.0,0,0.67,384,8.78_312,0.304036,-0.409947,0.635019,0.304036,0
384,333,9.66,117,4,5.0,4.0,1,0.95,385,9.66_333,1.766796,1.409165,0.635019,1.766796,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [59]:
adm['gre_majorated'] = adm.apply(lambda r: (r.gre_score + 10) if (r.university_rating >= 4) else r.gre_score, axis = 1)

adm['adjusted_gre'] = pd.cut(adm['gre_majorated'], 4, labels=([i for i in range(1,5)]))