# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [50]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [64]:
# your code here
admissions_predict = pd.read_csv('data\Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [65]:
# your code here
admissions_predict.columns = admissions_predict.columns.str.strip()

Let's evaluate the dataset by looking at the `head` function.

In [66]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [67]:
# your code here
admissions_predict.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [68]:
# your code here
admissions_predict.set_index("Serial No.")

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [69]:
# your code here
admissions_predict.set_index(["GRE Score", "CGPA"])

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [70]:
# your code here
admissions_predict.set_index(["GRE Score", "CGPA"], drop = True, inplace = True)
admissions_predict.drop(['Serial No.'], axis=1, inplace=True)

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [71]:
admissions_predict = admissions_predict.reset_index()
type(admissions_predict)

pandas.core.frame.DataFrame

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [72]:
# your code here
admissions_predict[(admissions_predict["CGPA"] > 9) & (admissions_predict["Research"] == True)].shape[0]

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [73]:
high_cgpa_low_sop = admissions_predict[(admissions_predict["CGPA"] > 9) & (admissions_predict["SOP"] < 3.5)]
mean_chance_of_admit = high_cgpa_low_sop["Chance of Admit"].mean()
print(mean_chance_of_admit)

0.8019999999999999

In [74]:
# your code here
hcgpa_lsop = admissions_predict[(admissions_predict["CGPA"] > 9) & (admissions_predict["SOP"] < 3.5)]
print(hcgpa_lsop)
avg_chance = hcgpa_lsop["Chance of Admit"].mean()
print(round(avg_chance, 2))

     GRE Score  CGPA  TOEFL Score  University Rating  SOP  LOR  Research  \
28         338  9.40          118                  4  3.0  4.5         1
62         327  9.02          114                  3  3.0  3.0         0
140        326  9.11          114                  3  3.0  3.0         1
217        324  9.01          111                  4  3.0  3.0         1
381        325  9.11          107                  3  3.0  3.5         1

     Chance of Admit
28              0.91
62              0.61
140             0.83
217             0.82
381             0.84
0.8

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [83]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    col_mean = np.mean(col)
    col_std = np.std(col)
    standardized_col = (col-col_mean)/ col_std
    return standardized_col

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [90]:
# your code here

CGPA_std = standardize(admissions_predict["CGPA"])
GRE_std = standardize(admissions_predict["GRE Score"])
LOR_std = standardize(admissions_predict["LOR"])

admissions = pd.concat([CGPA_std, GRE_std, LOR_std], axis=1)
admissions.columns = ['CGPA_std', 'GRE_std', 'LOR_std']

In [91]:
admissions

     CGPA_std   GRE_std   LOR_std
0    1.750174  1.755663  1.193197
1   -0.992501 -0.063450  0.076840
2    0.121191  0.456297 -1.039517
3   -0.643433 -0.236698 -0.481338
4    1.234884  1.149292 -0.481338
..        ...       ...       ...
380  0.736216  0.629546  0.076840
381  0.852571  0.716170  0.076840
382  1.417729  1.149292  1.193197
383  0.304036 -0.409947  0.635019
384  1.766796  1.409165  0.635019

[385 rows x 3 columns]

We will generate the decision choice at random using the code below. Please run the cell.

In [92]:
# Libraries
from random import choices

In [115]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [122]:
# your code here

deciding_column = decision_choice.lookup(admissions.index, admissions["CGPA_std"] + admissions["GRE_std"] + admissions["LOR_std"])
admissions["deciding_column"] = deciding_column

AttributeError: 'list' object has no attribute 'lookup'

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here