# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import re
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions = pd.read_csv("data/Admission_Predict.csv")
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
cindex = admissions.columns
cindex = [name.rstrip('( +)') for name in cindex]
print(cindex)
admission = admissions.reindex(columns = cindex)
admissions.columns

['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit']

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
admissions.head(100)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
95,96,322,107,3,3.5,3.5,8.46,1,0.71
96,97,312,105,2,2.5,3.0,8.12,0,0.64
97,98,314,106,2,4.0,3.5,8.25,0,0.62
98,99,317,104,2,4.5,4.0,8.47,0,0.57
99,100,326,112,3,3.5,3.0,9.05,1,0.74

In [5]:
admissions.shape

(385, 9)

In [6]:
print(admissions['GRE Score'].nunique())
print(admissions['CGPA'].nunique())

49
168

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here
#print(admissions['LOR'].unique())
#print(admissions['Chance of Admit'].unique())

# the csv has values in 'LOR' and 'Chance of Admit', lets try to get them
admissions = pd.read_csv(filepath_or_buffer = "data/Admission_Predict.csv",header = 0, names = cindex, index_col = False)
#admissions = admissions.reindex(columns = cindex)
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [8]:
# mask = admissions.isna()
# mask == True
admissions.count()

Serial No.           385
GRE Score            385
TOEFL Score          385
University Rating    385
SOP                  385
LOR                  385
CGPA                 385
Research             385
Chance of Admit      385
dtype: int64

In [9]:
print(admissions.shape)
admissions = admissions.dropna(how = 'all')
print(admissions.shape)

(385, 9)
(385, 9)

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [10]:
# your code here
admissions.set_index('Serial No.')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [11]:
# your code here
print(admissions['GRE Score'].nunique())
print(admissions['CGPA'].nunique())

49
168

In [12]:
# seems to me the don't, at least not without combining the two
admissions.groupby(['GRE Score',"CGPA"]).agg({"Serial No.":'sum','GRE Score':'sum','CGPA':'sum','TOEFL Score':'sum','University Rating':'sum','SOP':'sum','Research':'sum'}).shape == admissions.shape
# the table has the same dimension when grouped by the two columns, the combination fo the two generates an unique id !

False

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [13]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [14]:
admissions.set_index(keys = ["GRE Score","CGPA"], inplace = True, verify_integrity = True)
admissions.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [15]:
# your code here
admissions.reset_index(inplace = True)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [16]:
# your code here
#def condition1 (row):
#    if (row['CGPA'] > 9) & (row['Research'] == 1):
#        return True
#    else:
#        return False

#admissions['condition1'] = admissions.apply(condition1, axis = 1)

#admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].sum()
len(admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].index)

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [17]:
# your code here
def condition1 (row):
    if (row['CGPA'] > 9) & (row['SOP'] < 3.5):
        return True
    else:
        return False
#df.loc[df['column_name'] == some_value]
admissions['condition'] = admissions.apply(condition1, axis = 1)
c1adm = admissions.loc[admissions['condition'] == True]
c1adm.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,condition
28,338,9.40,29,118,4,3.0,4.5,1,0.91,True
62,327,9.02,63,114,3,3.0,3.0,0,0.61,True
140,326,9.11,141,114,3,3.0,3.0,1,0.83,True
217,324,9.01,218,111,4,3.0,3.0,1,0.82,True
381,325,9.11,382,107,3,3.0,3.5,1,0.84,True

In [18]:
c1adm["Chance of Admit"].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [19]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    mean = np.mean(col)
    cstdev = np.std(col)
    return (col - mean)/cstdev

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [20]:
# your code here
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,condition,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,False,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,False,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,False,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,False,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,False,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [21]:
# Libraries
from random import choices

In [22]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [23]:
# your code here
admissions['deciding_column'] = decision_choice
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,condition,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,False,1.750174,1.755663,1.193197,LOR_std
1,316,8.00,2,104,3,3.0,3.5,1,0.72,False,-0.992501,-0.063450,0.076840,LOR_std
2,322,8.67,3,110,3,3.5,2.5,1,0.80,False,0.121191,0.456297,-1.039517,GRE_std
3,314,8.21,4,103,2,2.0,3.0,0,0.65,False,-0.643433,-0.236698,-0.481338,LOR_std
4,330,9.34,5,115,5,4.5,3.0,1,0.90,False,1.234884,1.149292,-0.481338,CGPA_std

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [24]:
# your code here
def bdecision(row):
    if row[row['deciding_column']] > 0.8:
        return 1
    else:
        return 0
admissions['decision'] = admissions.apply(bdecision, axis=1)
admissions.head(10)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,condition,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,False,1.750174,1.755663,1.193197,LOR_std,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,False,-0.992501,-0.063450,0.076840,LOR_std,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,False,0.121191,0.456297,-1.039517,GRE_std,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,False,-0.643433,-0.236698,-0.481338,LOR_std,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,False,1.234884,1.149292,-0.481338,CGPA_std,1
5,321,8.20,6,109,3,3.0,4.0,1,0.75,False,-0.660055,0.369672,0.635019,CGPA_std,0
6,308,7.90,7,101,2,3.0,4.0,0,0.68,False,-1.158723,-0.756445,0.635019,GRE_std,0
7,302,8.00,8,102,1,2.0,1.5,0,0.50,False,-0.992501,-1.276191,-2.155874,GRE_std,0
8,323,8.60,9,108,3,3.5,3.0,0,0.45,False,0.004836,0.542921,-0.481338,GRE_std,0
9,327,9.00,10,111,4,4.0,4.5,1,0.84,False,0.669726,0.889419,1.193197,GRE_std,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [25]:
# your code here
admissions['decision'].sum()

86

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [26]:
# your code here

admissions.columns = [name.lower().replace('[^a-zA-Z _\d]',"").replace('.',"").replace(" ","_") for name in admissions.columns]
admissions.columns

Index(['gre_score', 'cgpa', 'serial_no', 'toefl_score', 'university_rating',
       'sop', 'lor', 'research', 'chance_of_admit', 'condition', 'cgpa_std',
       'gre_std', 'lor_std', 'deciding_column', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [44]:
# your code here
#print(admissions.loc[admissions['university_rating'] >= 4]["gre_score"]+10)
adjusted_gre = pd.cut(admissions.loc[admissions['university_rating'] >= 4]["gre_score"]+10,3)