# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries

import os
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here

os.getcwd()

db = pd.read_csv("/Users/jonpradabenito/Ironhack/3.Labs/lab-advanced-pandas/your-code/data/Admission_Predict.csv")
db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here

db.columns = db.columns.str.rstrip()
db.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here

db.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here

print (db.isnull().sum()) # true and false are 0 & 1. 

#pd.set_option("max_rows", 3)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here

db = db.set_index('Serial No.')
db

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here 

db["GRE Score"].unique()
db["CGPA"].unique()

array([9.65, 8.  , 8.67, 8.21, 9.34, 8.2 , 7.9 , 8.6 , 9.  , 9.1 , 8.3 ,
       8.7 , 8.8 , 8.5 , 8.4 , 9.5 , 9.7 , 9.8 , 7.5 , 7.2 , 7.3 , 8.1 ,
       9.4 , 9.6 , 9.2 , 7.8 , 7.7 , 9.3 , 8.85, 7.4 , 7.6 , 6.8 , 8.92,
       9.02, 8.64, 9.22, 9.16, 9.64, 9.76, 9.45, 9.04, 8.9 , 8.56, 8.72,
       8.22, 7.54, 7.36, 8.02, 9.36, 8.66, 8.42, 8.28, 8.14, 7.92, 7.66,
       8.03, 7.88, 7.84, 8.96, 9.24, 8.88, 8.46, 8.12, 8.25, 8.47, 9.05,
       8.78, 9.18, 9.46, 9.38, 8.48, 8.68, 8.34, 8.45, 8.62, 7.46, 7.28,
       8.84, 9.56, 9.48, 8.36, 9.32, 8.71, 9.35, 8.65, 9.28, 8.77, 8.16,
       9.08, 9.12, 9.15, 9.44, 9.92, 9.11, 8.26, 9.43, 9.06, 8.75, 8.89,
       8.69, 7.86, 9.01, 8.97, 8.33, 8.27, 7.98, 8.04, 9.07, 9.13, 9.23,
       8.87, 8.98, 8.94, 9.53, 8.76, 8.52, 8.54, 9.91, 9.87, 7.65, 7.89,
       9.14, 9.66, 9.78, 9.42, 9.26, 8.23, 8.07, 9.31, 9.17, 9.19, 8.37,
       7.68, 8.15, 8.73, 8.83, 8.57, 9.68, 8.09, 8.79, 8.17, 7.64, 8.01,
       7.95, 8.49, 7.87, 7.97, 8.18, 8.32, 8.55, 8.43, 8.53, 8.74, 8.44,
       9.47, 8.24, 8.13, 7.34, 7.43, 7.25, 8.06, 7.67, 9.54, 9.62, 7.56,
       9.74, 9.82, 7.96])

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [8]:
db["Index"] = db["GRE Score"] + db["CGPA"]
db2 = db.drop(columns=["GRE Score","CGPA"])
db2.set_index('Index')

        TOEFL Score  University Rating  SOP  LOR  Research  Chance of Admit
Index
346.65          118                  4  4.5  4.5         1             0.92
324.00          104                  3  3.0  3.5         1             0.72
330.67          110                  3  3.5  2.5         1             0.80
322.21          103                  2  2.0  3.0         0             0.65
339.34          115                  5  4.5  3.0         1             0.90
...             ...                ...  ...  ...       ...              ...
333.04          110                  3  3.5  3.5         1             0.82
334.11          107                  3  3.0  3.5         1             0.84
339.45          116                  4  5.0  4.5         1             0.91
320.78          103                  3  3.5  4.0         0             0.67
342.66          117                  4  5.0  4.0         1             0.95

[385 rows x 6 columns]

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
# your code here

db.reset_index(inplace=True)

db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index
0,1,337,118,4,4.5,4.5,9.65,1,0.92,346.65
1,2,316,104,3,3.0,3.5,8.00,1,0.72,324.00
2,3,322,110,3,3.5,2.5,8.67,1,0.80,330.67
3,4,314,103,2,2.0,3.0,8.21,0,0.65,322.21
4,5,330,115,5,4.5,3.0,9.34,1,0.90,339.34
...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,333.04
381,382,325,107,3,3.0,3.5,9.11,1,0.84,334.11
382,383,330,116,4,5.0,4.5,9.45,1,0.91,339.45
383,384,312,103,3,3.5,4.0,8.78,0,0.67,320.78
384,385,333,117,4,5.0,4.0,9.66,1,0.95,342.66

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# your code here

db.loc[(db["CGPA"] > 9) & (db["Research"] ==1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index
0,1,337,118,4,4.5,4.5,9.65,1,0.92,346.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90,339.34
10,11,328,112,4,4.0,4.5,9.10,1,0.78,337.10
19,20,328,116,5,5.0,5.0,9.50,1,0.94,337.50
20,21,334,119,5,5.0,4.5,9.70,1,0.95,343.70
...,...,...,...,...,...,...,...,...,...,...
379,380,329,111,4,4.5,4.0,9.23,1,0.89,338.23
380,381,324,110,3,3.5,3.5,9.04,1,0.82,333.04
381,382,325,107,3,3.0,3.5,9.11,1,0.84,334.11
382,383,330,116,4,5.0,4.5,9.45,1,0.91,339.45
384,385,333,117,4,5.0,4.0,9.66,1,0.95,342.66

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# your code here

CGPA_SOP = db.loc[(db["CGPA"] > 9) & (db["SOP"] < 3.5)]

db["Chance of Admit"].mean()

0.7239220779220779

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [20]:
def standardize(col):
    return (col - col.mean())/col.std()
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [35]:
# your code here

db["CGPA_std"] = standardize(db["CGPA"])
db["GRE_std"] = standardize(db["GRE Score"])
db["LOR_std"] = standardize(db["LOR"])
db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index,test,CGPA_std,GRE_std,LOR_std,decision_choice
0,1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.747900,1.747900,1.753381,1.191647,GRE_std
1,2,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-0.991211,-0.991211,-0.063367,0.076740,LOR_std
2,3,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.121034,0.121034,0.455704,-1.038166,GRE_std
3,4,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.642597,-0.642597,-0.236391,-0.480713,GRE_std
4,5,330,115,5,4.5,3.0,9.34,1,0.90,339.34,1.233279,1.233279,1.147798,-0.480713,LOR_std
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,333.04,0.735259,0.735259,0.628727,0.076740,LOR_std
381,382,325,107,3,3.0,3.5,9.11,1,0.84,334.11,0.851463,0.851463,0.715239,0.076740,CGPA_std
382,383,330,116,4,5.0,4.5,9.45,1,0.91,339.45,1.415886,1.415886,1.147798,1.191647,LOR_std
383,384,312,103,3,3.5,4.0,8.78,0,0.67,320.78,0.303641,0.303641,-0.409414,0.634193,LOR_std
384,385,333,117,4,5.0,4.0,9.66,1,0.95,342.66,1.764500,1.764500,1.407334,0.634193,LOR_std

We will generate the decision choice at random using the code below. Please run the cell.

In [38]:
# Libraries
from random import choices

In [48]:
std_columns = [db['CGPA_std'],db['GRE_std'],db['LOR_std']]

db["decision_choice"] = choices(std_columns, k=db.shape[0])
db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index,test,CGPA_std,GRE_std,LOR_std,decision_choice
0,1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.747900,1.747900,1.753381,1.191647,0 1.753381 1 -0.063367 2 0.45570...
1,2,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-0.991211,-0.991211,-0.063367,0.076740,0 1.747900 1 -0.991211 2 0.12103...
2,3,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.121034,0.121034,0.455704,-1.038166,0 1.753381 1 -0.063367 2 0.45570...
3,4,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.642597,-0.642597,-0.236391,-0.480713,0 1.747900 1 -0.991211 2 0.12103...
4,5,330,115,5,4.5,3.0,9.34,1,0.90,339.34,1.233279,1.233279,1.147798,-0.480713,0 1.191647 1 0.076740 2 -1.03816...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,333.04,0.735259,0.735259,0.628727,0.076740,0 1.747900 1 -0.991211 2 0.12103...
381,382,325,107,3,3.0,3.5,9.11,1,0.84,334.11,0.851463,0.851463,0.715239,0.076740,0 1.747900 1 -0.991211 2 0.12103...
382,383,330,116,4,5.0,4.5,9.45,1,0.91,339.45,1.415886,1.415886,1.147798,1.191647,0 1.191647 1 0.076740 2 -1.03816...
383,384,312,103,3,3.5,4.0,8.78,0,0.67,320.78,0.303641,0.303641,-0.409414,0.634193,0 1.753381 1 -0.063367 2 0.45570...
384,385,333,117,4,5.0,4.0,9.66,1,0.95,342.66,1.764500,1.764500,1.407334,0.634193,0 1.747900 1 -0.991211 2 0.12103...

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [53]:
# your code here

db["deciding_column"] = db.lookup(db.index, decision_choice)
db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index,test,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.747900,1.747900,1.753381,1.191647,0 1.753381 1 -0.063367 2 0.45570...,1.747900
1,2,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-0.991211,-0.991211,-0.063367,0.076740,0 1.747900 1 -0.991211 2 0.12103...,-0.991211
2,3,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.121034,0.121034,0.455704,-1.038166,0 1.753381 1 -0.063367 2 0.45570...,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.642597,-0.642597,-0.236391,-0.480713,0 1.747900 1 -0.991211 2 0.12103...,-0.236391
4,5,330,115,5,4.5,3.0,9.34,1,0.90,339.34,1.233279,1.233279,1.147798,-0.480713,0 1.191647 1 0.076740 2 -1.03816...,1.233279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,333.04,0.735259,0.735259,0.628727,0.076740,0 1.747900 1 -0.991211 2 0.12103...,0.628727
381,382,325,107,3,3.0,3.5,9.11,1,0.84,334.11,0.851463,0.851463,0.715239,0.076740,0 1.747900 1 -0.991211 2 0.12103...,0.715239
382,383,330,116,4,5.0,4.5,9.45,1,0.91,339.45,1.415886,1.415886,1.147798,1.191647,0 1.191647 1 0.076740 2 -1.03816...,1.147798
383,384,312,103,3,3.5,4.0,8.78,0,0.67,320.78,0.303641,0.303641,-0.409414,0.634193,0 1.753381 1 -0.063367 2 0.45570...,-0.409414
384,385,333,117,4,5.0,4.0,9.66,1,0.95,342.66,1.764500,1.764500,1.407334,0.634193,0 1.747900 1 -0.991211 2 0.12103...,1.407334

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [56]:
# your code here


db["decision"] = np.where(db["deciding_column"]>0.8,1,0)
db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index,test,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.747900,1.747900,1.753381,1.191647,0 1.753381 1 -0.063367 2 0.45570...,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-0.991211,-0.991211,-0.063367,0.076740,0 1.747900 1 -0.991211 2 0.12103...,-0.991211,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.121034,0.121034,0.455704,-1.038166,0 1.753381 1 -0.063367 2 0.45570...,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.642597,-0.642597,-0.236391,-0.480713,0 1.747900 1 -0.991211 2 0.12103...,-0.236391,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,339.34,1.233279,1.233279,1.147798,-0.480713,0 1.191647 1 0.076740 2 -1.03816...,1.233279,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,333.04,0.735259,0.735259,0.628727,0.076740,0 1.747900 1 -0.991211 2 0.12103...,0.628727,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,334.11,0.851463,0.851463,0.715239,0.076740,0 1.747900 1 -0.991211 2 0.12103...,0.715239,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,339.45,1.415886,1.415886,1.147798,1.191647,0 1.191647 1 0.076740 2 -1.03816...,1.147798,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,320.78,0.303641,0.303641,-0.409414,0.634193,0 1.753381 1 -0.063367 2 0.45570...,-0.409414,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,342.66,1.764500,1.764500,1.407334,0.634193,0 1.747900 1 -0.991211 2 0.12103...,1.407334,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [62]:
# your code here

db.groupby(db["decision"]==1).count()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index,test,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
decision,,,,,,,,,,,,,,,,,
False,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293
True,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [66]:
# your code here

db.columns = db.columns.str.replace(".","_")
db.columns = db.columns.str.replace(" ","_")
db.columns = db.columns.str.lower()
db

,serial_no_,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,index,test,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.747900,1.747900,1.753381,1.191647,0 1.753381 1 -0.063367 2 0.45570...,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-0.991211,-0.991211,-0.063367,0.076740,0 1.747900 1 -0.991211 2 0.12103...,-0.991211,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.121034,0.121034,0.455704,-1.038166,0 1.753381 1 -0.063367 2 0.45570...,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.642597,-0.642597,-0.236391,-0.480713,0 1.747900 1 -0.991211 2 0.12103...,-0.236391,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,339.34,1.233279,1.233279,1.147798,-0.480713,0 1.191647 1 0.076740 2 -1.03816...,1.233279,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,333.04,0.735259,0.735259,0.628727,0.076740,0 1.747900 1 -0.991211 2 0.12103...,0.628727,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,334.11,0.851463,0.851463,0.715239,0.076740,0 1.747900 1 -0.991211 2 0.12103...,0.715239,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,339.45,1.415886,1.415886,1.147798,1.191647,0 1.191647 1 0.076740 2 -1.03816...,1.147798,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,320.78,0.303641,0.303641,-0.409414,0.634193,0 1.753381 1 -0.063367 2 0.45570...,-0.409414,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,342.66,1.764500,1.764500,1.407334,0.634193,0 1.747900 1 -0.991211 2 0.12103...,1.407334,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [89]:
# your code here

db["adjusted_gre"] = db["gre_score"].where(db["university_rating"] < 4, db["gre_score"] + 10)

db[["university_rating","gre_score","adjusted_gre"]]

     university_rating  gre_score  adjusted_gre
0                    4        337           347
1                    3        316           316
2                    3        322           322
3                    2        314           314
4                    5        330           340
..                 ...        ...           ...
380                  3        324           324
381                  3        325           325
382                  4        330           340
383                  3        312           312
384                  4        333           343

[385 rows x 3 columns]