# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [194]:
# Libraries
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [195]:
# your code here
admissions = pd.read_csv('Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [196]:
# your code here
admissions = admissions.set_axis(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'], axis=1)

Let's evaluate the dataset by looking at the `head` function.

In [197]:
# your code here
admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [198]:
# your code here

admissions.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [199]:
# your code here

admissions = admissions.set_index('Serial No.')

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [200]:
# your code here
admissions.set_index(['GRE Score','CGPA'], inplace=True)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [201]:
# your code here
admissions.reset_index(inplace=True)
admissions

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
383,312,8.78,103,3,3.5,4.0,0,0.67
384,333,9.66,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [202]:
# your code here
admissions_1 = admissions[admissions['CGPA'] > 9]
admissions_1 = admissions_1['Research'] == 1
admissions_1.count()

110

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [203]:
# your code here
admissions_1 = admissions[admissions['CGPA'] > 9]
admissions_1 = admissions_1[admissions_1['SOP'] < 3.5]
admissions_1['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [204]:
from numpy import std
from numpy import mean

def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    
    return (col-(col.mean())/col.std())

In [205]:
admissions

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
383,312,8.78,103,3,3.5,4.0,0,0.67
384,333,9.66,117,4,5.0,4.0,1,0.95

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [206]:
# your code here

admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
admissions

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568
1,316,8.00,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432
2,322,8.67,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432
3,314,8.21,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432
4,330,9.34,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432
...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,-5.231747,296.598899,-0.325432
381,325,9.11,107,3,3.0,3.5,1,0.84,-5.161747,297.598899,-0.325432
382,330,9.45,116,4,5.0,4.5,1,0.91,-4.821747,302.598899,0.674568
383,312,8.78,103,3,3.5,4.0,0,0.67,-5.491747,284.598899,0.174568
384,333,9.66,117,4,5.0,4.0,1,0.95,-4.611747,305.598899,0.174568

We will generate the decision choice at random using the code below. Please run the cell.

In [207]:
# Libraries
from random import choices

In [208]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
decision_choice

['GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [209]:
# your code here

admissions['decision_choice'] = decision_choice
admissions['deciding_column'] = admissions.lookup(admissions.index,admissions['decision_choice'])
admissions

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568,GRE_std,309.598899
1,316,8.00,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432,LOR_std,-0.325432
2,322,8.67,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432,CGPA_std,-5.601747
3,314,8.21,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432,GRE_std,286.598899
4,330,9.34,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,GRE_std,302.598899
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,-5.231747,296.598899,-0.325432,CGPA_std,-5.231747
381,325,9.11,107,3,3.0,3.5,1,0.84,-5.161747,297.598899,-0.325432,GRE_std,297.598899
382,330,9.45,116,4,5.0,4.5,1,0.91,-4.821747,302.598899,0.674568,CGPA_std,-4.821747
383,312,8.78,103,3,3.5,4.0,0,0.67,-5.491747,284.598899,0.174568,LOR_std,0.174568
384,333,9.66,117,4,5.0,4.0,1,0.95,-4.611747,305.598899,0.174568,GRE_std,305.598899

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [210]:
# your code here

admissions['decision'] = admissions['deciding_column']>0.8
admissions['decision'] = admissions['decision'].astype(int)
admissions.head(10)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568,GRE_std,309.598899,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432,LOR_std,-0.325432,0
2,322,8.67,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432,CGPA_std,-5.601747,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432,GRE_std,286.598899,1
4,330,9.34,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,GRE_std,302.598899,1
5,321,8.20,109,3,3.0,4.0,1,0.75,-6.071747,293.598899,0.174568,GRE_std,293.598899,1
6,308,7.90,101,2,3.0,4.0,0,0.68,-6.371747,280.598899,0.174568,LOR_std,0.174568,0
7,302,8.00,102,1,2.0,1.5,0,0.50,-6.271747,274.598899,-2.325432,LOR_std,-2.325432,0
8,323,8.60,108,3,3.5,3.0,0,0.45,-5.671747,295.598899,-0.825432,CGPA_std,-5.671747,0
9,327,9.00,111,4,4.0,4.5,1,0.84,-5.271747,299.598899,0.674568,LOR_std,0.674568,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [211]:
# your code here
admissions['decision'].sum()

126

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [212]:
# your code here
import re

admissions = admissions.replace('[^a-zA-Z0-9 ]', '', regex=True)

In [213]:
admissions.columns = admissions.columns.str.replace(' ','_')

In [214]:
admissions.columns = admissions.columns.str.lower()

In [215]:
admissions

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568,GREstd,309.598899,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432,LORstd,-0.325432,0
2,322,8.67,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432,CGPAstd,-5.601747,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432,GREstd,286.598899,1
4,330,9.34,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,GREstd,302.598899,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,-5.231747,296.598899,-0.325432,CGPAstd,-5.231747,0
381,325,9.11,107,3,3.0,3.5,1,0.84,-5.161747,297.598899,-0.325432,GREstd,297.598899,1
382,330,9.45,116,4,5.0,4.5,1,0.91,-4.821747,302.598899,0.674568,CGPAstd,-4.821747,0
383,312,8.78,103,3,3.5,4.0,0,0.67,-5.491747,284.598899,0.174568,LORstd,0.174568,0
384,333,9.66,117,4,5.0,4.0,1,0.95,-4.611747,305.598899,0.174568,GREstd,305.598899,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [218]:
# your code here

admissions.loc[admissions.university_rating > 4, 'gre_score'] += 10

In [220]:
admissions['adjusted_gre'] = pd.qcut(admissions['gre_score'],4)

In [221]:
admissions

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision,adjusted_gre
0,337,9.65,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568,GREstd,309.598899,1,"(327.0, 350.0]"
1,316,8.00,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432,LORstd,-0.325432,0,"(308.0, 317.0]"
2,322,8.67,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432,CGPAstd,-5.601747,0,"(317.0, 327.0]"
3,314,8.21,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432,GREstd,286.598899,1,"(308.0, 317.0]"
4,340,9.34,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,GREstd,302.598899,1,"(327.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,-5.231747,296.598899,-0.325432,CGPAstd,-5.231747,0,"(317.0, 327.0]"
381,325,9.11,107,3,3.0,3.5,1,0.84,-5.161747,297.598899,-0.325432,GREstd,297.598899,1,"(317.0, 327.0]"
382,330,9.45,116,4,5.0,4.5,1,0.91,-4.821747,302.598899,0.674568,CGPAstd,-4.821747,0,"(327.0, 350.0]"
383,312,8.78,103,3,3.5,4.0,0,0.67,-5.491747,284.598899,0.174568,LORstd,0.174568,0,"(308.0, 317.0]"
384,333,9.66,117,4,5.0,4.0,1,0.95,-4.611747,305.598899,0.174568,GREstd,305.598899,1,"(327.0, 350.0]"