# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [137]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [138]:
# your code here
admissions_df = pd.read_csv('/Users/AnaPSilva/Documents/Ana/Ironhack/Bootcamp/Week2/Labs/Day3_lab-advanced-pandas/your-code/data/Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [139]:
# your code here
admissions_df.columns = [col.strip() for col in admissions_df.columns]
admissions_df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [140]:
# your code here
admissions_df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [141]:
# your code here
ds_null = admissions_df.isnull().sum()
ds_null[ds_null > 0] 
ds_null 

#there arent any NaN values in the dataframe

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [142]:
# your code here
admissions_df.set_index('Serial No.')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [143]:
# your code here
admissions_df_new = admissions_df

admissions_df_new['GRE Score']=admissions_df_new['GRE Score'].astype('str')  
admissions_df_new['CGPA']=admissions_df_new['CGPA'].astype('str') 

#creating a new column with the other 2 aggregated into string
admissions_df_new['GRE_CGPA_Combo'] = admissions_df[['GRE Score', 'CGPA']].agg('-'.join, axis=1)   

admissions_df_new['GRE_CGPA_Combo'].nunique() == len(admissions_df['Serial No.'])

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [144]:
admissions_df_new.set_index(['GRE Score','CGPA'], inplace=True)
admissions_df_new

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA_Combo
GRE Score,CGPA,,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92,337-9.65
316,8.0,2,104,3,3.0,3.5,1,0.72,316-8.0
322,8.67,3,110,3,3.5,2.5,1,0.80,322-8.67
314,8.21,4,103,2,2.0,3.0,0,0.65,314-8.21
330,9.34,5,115,5,4.5,3.0,1,0.90,330-9.34
...,...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82,324-9.04
325,9.11,382,107,3,3.0,3.5,1,0.84,325-9.11
330,9.45,383,116,4,5.0,4.5,1,0.91,330-9.45
312,8.78,384,103,3,3.5,4.0,0,0.67,312-8.78
333,9.66,385,117,4,5.0,4.0,1,0.95,333-9.66

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [145]:
# your code here
admissions_df_new.reset_index(inplace=True) 
admissions_df_new.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA_Combo
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337-9.65
1,316,8.0,2,104,3,3.0,3.5,1,0.72,316-8.0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,322-8.67
3,314,8.21,4,103,2,2.0,3.0,0,0.65,314-8.21
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330-9.34

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [146]:
# your code here

admissions_df_new['GRE Score']=admissions_df_new['GRE Score'].astype('int64')  
admissions_df_new['CGPA']=admissions_df_new['CGPA'].astype('float') 

admissions_df_new[(admissions_df_new['CGPA'] > 9) & (admissions_df_new['Research'] == 1)].count()

GRE Score            101
CGPA                 101
Serial No.           101
TOEFL Score          101
University Rating    101
SOP                  101
LOR                  101
Research             101
Chance of Admit      101
GRE_CGPA_Combo       101
dtype: int64

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [148]:
# your code here
table_condition = admissions_df_new[(admissions_df_new['CGPA'] > 9) & (admissions_df_new['SOP'] < 3.5)]
table_condition['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [149]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    return (col - col.mean())/col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [150]:
# your code here
admissions_df_new['CGPA_std'] = standardize(admissions_df_new['CGPA'])
admissions_df_new['GRE_std'] = standardize(admissions_df_new['GRE Score'])
admissions_df_new['LOR_std'] = standardize(admissions_df_new['LOR'])

We will generate the decision choice at random using the code below. Please run the cell.

In [151]:
# Libraries
from random import choices

In [152]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions_df_new.shape[0])
decision_choice

['CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [153]:
# your code here
#adding new column using lookup function 
admissions_df_new['Deciding Column'] = admissions_df_new.lookup(admissions_df_new.index, decision_choice)
admissions_df_new

/var/folders/6p/f9_7t3yd7_5bhfz8c52xyw2h0000gn/T/ipykernel_9303/1789683802.py:3: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  admissions_df_new['Deciding Column'] = admissions_df_new.lookup(admissions_df_new.index, decision_choice)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA_Combo,CGPA_std,GRE_std,LOR_std,Deciding Column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337-9.65,1.747900,1.753381,1.191647,1.747900
1,316,8.00,2,104,3,3.0,3.5,1,0.72,316-8.0,-0.991211,-0.063367,0.076740,-0.063367
2,322,8.67,3,110,3,3.5,2.5,1,0.80,322-8.67,0.121034,0.455704,-1.038166,0.121034
3,314,8.21,4,103,2,2.0,3.0,0,0.65,314-8.21,-0.642597,-0.236391,-0.480713,-0.642597
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330-9.34,1.233279,1.147798,-0.480713,1.147798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,324-9.04,0.735259,0.628727,0.076740,0.628727
381,325,9.11,382,107,3,3.0,3.5,1,0.84,325-9.11,0.851463,0.715239,0.076740,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,330-9.45,1.415886,1.147798,1.191647,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,312-8.78,0.303641,-0.409414,0.634193,-0.409414
384,333,9.66,385,117,4,5.0,4.0,1,0.95,333-9.66,1.764500,1.407334,0.634193,1.407334

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [154]:
# your code here

def decision(row):
    if (row['Deciding Column'] > 0.8):
        return 1
    else:
        return 0

admissions_df_new['decision'] = admissions_df_new.apply(decision, axis = 1)  #To apply any function to the values of a column
admissions_df_new.head(20)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA_Combo,CGPA_std,GRE_std,LOR_std,Deciding Column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337-9.65,1.747900,1.753381,1.191647,1.747900,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,316-8.0,-0.991211,-0.063367,0.076740,-0.063367,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,322-8.67,0.121034,0.455704,-1.038166,0.121034,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,314-8.21,-0.642597,-0.236391,-0.480713,-0.642597,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330-9.34,1.233279,1.147798,-0.480713,1.147798,1
5,321,8.20,6,109,3,3.0,4.0,1,0.75,321-8.2,-0.659198,0.369192,0.634193,0.369192,0
6,308,7.90,7,101,2,3.0,4.0,0,0.68,308-7.9,-1.157218,-0.755462,0.634193,-0.755462,0
7,302,8.00,8,102,1,2.0,1.5,0,0.50,302-8.0,-0.991211,-1.274533,-2.153072,-2.153072,0
8,323,8.60,9,108,3,3.5,3.0,0,0.45,323-8.6,0.004829,0.542216,-0.480713,-0.480713,0
9,327,9.00,10,111,4,4.0,4.5,1,0.84,327-9.0,0.668856,0.888263,1.191647,0.668856,0
10,328,9.10,11,112,4,4.0,4.5,1,0.78,328-9.1,0.834863,0.974775,1.191647,0.834863,1
11,307,8.00,12,109,3,4.0,3.0,1,0.62,307-8.0,-0.991211,-0.841973,-0.480713,-0.991211,0
12,311,8.20,13,104,3,3.5,2.0,1,0.61,311-8.2,-0.659198,-0.495926,-1.595619,-0.495926,0
13,314,8.30,14,105,3,3.5,2.5,0,0.54,314-8.3,-0.493191,-0.236391,-1.038166,-0.236391,0
14,317,8.70,15,107,3,4.0,3.0,0,0.66,317-8.7,0.170836,0.023145,-0.480713,0.170836,0
15,319,8.00,16,106,3,4.0,3.0,1,0.65,319-8.0,-0.991211,0.196168,-0.480713,-0.991211,0
16,318,8.80,17,110,3,4.0,3.0,0,0.63,318-8.8,0.336843,0.109657,-0.480713,0.109657,0
17,303,8.50,18,102,3,3.5,3.0,0,0.62,303-8.5,-0.161177,-1.188021,-0.480713,-1.188021,0
18,325,8.40,19,114,4,3.0,2.0,0,0.70,325-8.4,-0.327184,0.715239,-1.595619,-1.595619,0
19,328,9.50,20,116,5,5.0,5.0,1,0.94,328-9.5,1.498890,0.974775,1.749100,1.749100,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [155]:
# your code here
admissions_df_new[admissions_df_new['decision'] == 1].shape

(81, 15)

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [156]:
# your code here

admissions_df_new.columns = [s.strip('.').replace(' ', '_').lower() for s in admissions_df_new.columns]
admissions_df_new

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,gre_cgpa_combo,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337-9.65,1.747900,1.753381,1.191647,1.747900,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,316-8.0,-0.991211,-0.063367,0.076740,-0.063367,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,322-8.67,0.121034,0.455704,-1.038166,0.121034,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,314-8.21,-0.642597,-0.236391,-0.480713,-0.642597,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330-9.34,1.233279,1.147798,-0.480713,1.147798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,324-9.04,0.735259,0.628727,0.076740,0.628727,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,325-9.11,0.851463,0.715239,0.076740,0.076740,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,330-9.45,1.415886,1.147798,1.191647,1.191647,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,312-8.78,0.303641,-0.409414,0.634193,-0.409414,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,333-9.66,1.764500,1.407334,0.634193,1.407334,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [158]:
# your code here

admissions_df_new['adjusted_gre'] = pd.cut(admissions_df_new[admissions_df_new['university_rating'] >= 4]['gre_score'].add(10), bins= 4)
admissions_df_new

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,gre_cgpa_combo,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337-9.65,1.747900,1.753381,1.191647,1.747900,1,"(337.5, 350.0]"
1,316,8.00,2,104,3,3.0,3.5,1,0.72,316-8.0,-0.991211,-0.063367,0.076740,-0.063367,0,NaN
2,322,8.67,3,110,3,3.5,2.5,1,0.80,322-8.67,0.121034,0.455704,-1.038166,0.121034,0,NaN
3,314,8.21,4,103,2,2.0,3.0,0,0.65,314-8.21,-0.642597,-0.236391,-0.480713,-0.642597,0,NaN
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330-9.34,1.233279,1.147798,-0.480713,1.147798,1,"(337.5, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,324-9.04,0.735259,0.628727,0.076740,0.628727,0,NaN
381,325,9.11,382,107,3,3.0,3.5,1,0.84,325-9.11,0.851463,0.715239,0.076740,0.076740,0,NaN
382,330,9.45,383,116,4,5.0,4.5,1,0.91,330-9.45,1.415886,1.147798,1.191647,1.191647,1,"(337.5, 350.0]"
383,312,8.78,384,103,3,3.5,4.0,0,0.67,312-8.78,0.303641,-0.409414,0.634193,-0.409414,0,NaN
384,333,9.66,385,117,4,5.0,4.0,1,0.95,333-9.66,1.764500,1.407334,0.634193,1.407334,1,"(337.5, 350.0]"