# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [44]:
# Libraries
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [45]:
# your code here
admin = pd.read_csv("data/Admission_Predict.csv")
admin

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [46]:
# your code here
#admin = admin.rename(columns=lambda x: x.replace(' ', ''))
admin = admin.rename(columns=lambda x: x.rstrip())
admin.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [47]:
admin.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [48]:
# your code here
# Check for missing data
if admin.isna().any().any():
    print("Sim")
else:
    print("Nao")

Nao

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [49]:
admin.set_index('Serial No.', inplace=True)

In [50]:
#print(admin.index.name)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [51]:
# Check if any duplicated
duplicated = admin.duplicated(subset=['GRE Score', 'CGPA'], keep=False)

if duplicated.any():
    print(admin[duplicated])
else:
    print("No")

No

In [52]:
admin.set_index(keys=['GRE Score', 'CGPA'], inplace=True)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [53]:
admin

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82
325,9.11,107,3,3.0,3.5,1,0.84
330,9.45,116,4,5.0,4.5,1,0.91
312,8.78,103,3,3.5,4.0,0,0.67
333,9.66,117,4,5.0,4.0,1,0.95

In [54]:
#remove das colunas
admin.reset_index(drop=True, inplace=True)

In [55]:
admin3 = admin
admin

     TOEFL Score  University Rating  SOP  LOR  Research  Chance of Admit
0            118                  4  4.5  4.5         1             0.92
1            104                  3  3.0  3.5         1             0.72
2            110                  3  3.5  2.5         1             0.80
3            103                  2  2.0  3.0         0             0.65
4            115                  5  4.5  3.0         1             0.90
..           ...                ...  ...  ...       ...              ...
380          110                  3  3.5  3.5         1             0.82
381          107                  3  3.0  3.5         1             0.84
382          116                  4  5.0  4.5         1             0.91
383          103                  3  3.5  4.0         0             0.67
384          117                  4  5.0  4.0         1             0.95

[385 rows x 6 columns]

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [113]:
admin = pd.read_csv("data/Admission_Predict.csv")
admin = admin.rename(columns=lambda x: x.rstrip())
admin3 = admin
cont = len(admin.loc[(admin['CGPA'] > 9) & (admin['Research'] == 1)])

print(cont)

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [114]:

admin2 = admin[(admin['CGPA'] > 9) & (admin['SOP'] < 3.5)]
admin2

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,338,118,4,3.0,4.5,9.40,1,0.91
62,63,327,114,3,3.0,3.0,9.02,0,0.61
140,141,326,114,3,3.0,3.0,9.11,1,0.83
217,218,324,111,4,3.0,3.0,9.01,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84

In [115]:
mean = admin2['Chance of Admit'].mean()
mean

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [116]:

def standardize(col):
   
    import numpy as np
    
    mean = col.mean()
    sd = col.std()
    calc = (col-mean)/sd
    return calc



    
#   We would like to create a deciding factor column for each student
#   We standardize several columns and then pick the most important factor from a lookup table
#   If the standardized value is above 0.8, the student will be accepted.

#column for CGPA, GRE Score and LOR
#subtracting the mean of the column from all observations in the column and then dividing

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [140]:
standed = pd.DataFrame([standardize(admin3['CGPA']),standardize(admin3['GRE Score']),standardize(admin3['LOR'])]).T

standed = standed.rename(columns={'CGPA': 'CGPA_std', 'GRE Score': 'GRE_std', 'LOR': 'LOR_std'})

standed

     CGPA_std   GRE_std   LOR_std
0    1.747900  1.753381  1.191647
1   -0.991211 -0.063367  0.076740
2    0.121034  0.455704 -1.038166
3   -0.642597 -0.236391 -0.480713
4    1.233279  1.147798 -0.480713
..        ...       ...       ...
380  0.735259  0.628727  0.076740
381  0.851463  0.715239  0.076740
382  1.415886  1.147798  1.191647
383  0.303641 -0.409414  0.634193
384  1.764500  1.407334  0.634193

[385 rows x 3 columns]

In [163]:
admissions = admin3.join(standed)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [164]:
# Libraries

#Now create the deciding column using the `lookup` function. 
#The lookup column is `decision_choice` found above.
#Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.
#add a column
#lookup function

from random import choices

In [165]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

In [166]:
admissions['Choices'] = choices(std_columns, k=admissions.shape[0])
#admissions

In [167]:
admissions['Deciding'] = admissions.lookup(admissions.index,admissions['Choices'])

C:\Users\ferna\AppData\Local\Temp\ipykernel_9944\1105900264.py:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions['Deciding'] = admissions.lookup(admissions.index,admissions['Choices'])

In [168]:
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Choices,Deciding
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,-0.991211
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,LOR_std,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,LOR_std,1.191647
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,GRE_std,-0.409414
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [169]:
admissions['Decision'] = admissions['Deciding'].apply(lambda x: 1 if x > 0.8 else 0)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Choices,Deciding,Decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,-0.991211,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,LOR_std,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,LOR_std,1.191647,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,GRE_std,-0.409414,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [171]:
print(admissions['Decision'].sum())

88

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [177]:
# your code here
admissions.columns = admissions.columns.str.lower().str.replace(' ', '_')
admissions

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,choices,deciding,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,-0.991211,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,LOR_std,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,LOR_std,1.191647,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,GRE_std,-0.409414,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [188]:
# your code here

admissions['adjusted_gre']= admissions.apply(lambda r: r['gre_score']+10 if r['university_rating'] >= 4 else r['gre_score'], axis=1)

In [189]:
admissions

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,choices,deciding,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,1,347
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,-0.991211,0,316
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,LOR_std,-1.038166,0,322
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597,0,314
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727,0,324
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,LOR_std,0.076740,0,325
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,LOR_std,1.191647,1,340
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,GRE_std,-0.409414,0,312
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1.764500,1,343