# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
ad = pd.read_csv("Admission_Predict.csv")
ad

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
ad.columns = ad.columns.str.rstrip()
ad.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
ad.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
ad.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
ad.set_index('Serial No.', drop=False, inplace = True)
ad

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here
ad['GRE_CGPA'] = ad.apply(lambda x: tuple((x['GRE Score'],x['CGPA'])),axis =1)
ad

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_CGPA
Serial No.,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,"(337.0, 9.65)"
2,2,316,104,3,3.0,3.5,8.00,1,0.72,"(316.0, 8.0)"
3,3,322,110,3,3.5,2.5,8.67,1,0.80,"(322.0, 8.67)"
4,4,314,103,2,2.0,3.0,8.21,0,0.65,"(314.0, 8.21)"
5,5,330,115,5,4.5,3.0,9.34,1,0.90,"(330.0, 9.34)"
...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,"(324.0, 9.04)"
382,382,325,107,3,3.0,3.5,9.11,1,0.84,"(325.0, 9.11)"
383,383,330,116,4,5.0,4.5,9.45,1,0.91,"(330.0, 9.45)"
384,384,312,103,3,3.5,4.0,8.78,0,0.67,"(312.0, 8.78)"
385,385,333,117,4,5.0,4.0,9.66,1,0.95,"(333.0, 9.66)"

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here
ad.set_index(['GRE Score','CGPA'], inplace = True)
ad

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA
GRE Score,CGPA,,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)"
316,8.00,2,104,3,3.0,3.5,1,0.72,"(316.0, 8.0)"
322,8.67,3,110,3,3.5,2.5,1,0.80,"(322.0, 8.67)"
314,8.21,4,103,2,2.0,3.0,0,0.65,"(314.0, 8.21)"
330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)"
...,...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)"
325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)"
330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)"
312,8.78,384,103,3,3.5,4.0,0,0.67,"(312.0, 8.78)"
333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)"

In [9]:
ad.reset_index(inplace=True)
ad

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA
0,337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)"
1,316,8.00,2,104,3,3.0,3.5,1,0.72,"(316.0, 8.0)"
2,322,8.67,3,110,3,3.5,2.5,1,0.80,"(322.0, 8.67)"
3,314,8.21,4,103,2,2.0,3.0,0,0.65,"(314.0, 8.21)"
4,330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)"
...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)"
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)"
382,330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)"
383,312,8.78,384,103,3,3.5,4.0,0,0.67,"(312.0, 8.78)"
384,333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)"

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# your code here
ad[(ad['CGPA']>9) & (ad['Research'] == 1)]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA
0,337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)"
4,330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)"
10,328,9.10,11,112,4,4.0,4.5,1,0.78,"(328.0, 9.1)"
19,328,9.50,20,116,5,5.0,5.0,1,0.94,"(328.0, 9.5)"
20,334,9.70,21,119,5,5.0,4.5,1,0.95,"(334.0, 9.7)"
...,...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89,"(329.0, 9.23)"
380,324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)"
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)"
382,330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)"
384,333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)"

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# your code here
display(ad[(ad['CGPA']>9) & (ad['SOP'] < 3.5)])
print(ad[(ad['CGPA']>9) & (ad['SOP'] < 3.5)]['Chance of Admit'].mean())

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA
28,338,9.40,29,118,4,3.0,4.5,1,0.91,"(338.0, 9.4)"
62,327,9.02,63,114,3,3.0,3.0,0,0.61,"(327.0, 9.02)"
140,326,9.11,141,114,3,3.0,3.0,1,0.83,"(326.0, 9.11)"
217,324,9.01,218,111,4,3.0,3.0,1,0.82,"(324.0, 9.01)"
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)"

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [12]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    #(ad['CGPA'] - ad['CGPA'].mean())/np.std(ad['CGPA'])
    return (col - col.mean())/np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [13]:
# your code here
ad['CGPA_std'] = standardize(ad['CGPA'])
ad['GRE_std'] = standardize(ad['GRE Score'])
ad['LOR_std'] = standardize(ad['LOR'])
ad

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)",1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,"(316.0, 8.0)",-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,"(322.0, 8.67)",0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,"(314.0, 8.21)",-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)",1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)",0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)",0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)",1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,"(312.0, 8.78)",0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)",1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [14]:
# Libraries
from random import choices

In [15]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=ad.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [16]:
# your code here

ad['deciding_column'] = ad.lookup(ad.index,ad[decision_choice])
ad

/var/folders/_0/46b7d7lx5gxfy45sbjf5py3h0000gn/T/ipykernel_22817/1522276498.py:3: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  ad['deciding_column'] = ad.lookup(ad.index,ad[decision_choice])

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)",1.750174,1.755663,1.193197,1.755663
1,316,8.00,2,104,3,3.0,3.5,1,0.72,"(316.0, 8.0)",-0.992501,-0.063450,0.076840,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,"(322.0, 8.67)",0.121191,0.456297,-1.039517,0.456297
3,314,8.21,4,103,2,2.0,3.0,0,0.65,"(314.0, 8.21)",-0.643433,-0.236698,-0.481338,-0.643433
4,330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)",1.234884,1.149292,-0.481338,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)",0.736216,0.629546,0.076840,0.736216
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)",0.852571,0.716170,0.076840,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)",1.417729,1.149292,1.193197,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,"(312.0, 8.78)",0.304036,-0.409947,0.635019,-0.409947
384,333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)",1.766796,1.409165,0.635019,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [17]:
# your code here
ad['decision'] = ad['deciding_column'].apply(lambda x: 1 if (x > 0.8) else 0)
ad

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)",1.750174,1.755663,1.193197,1.755663,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,"(316.0, 8.0)",-0.992501,-0.063450,0.076840,0.076840,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,"(322.0, 8.67)",0.121191,0.456297,-1.039517,0.456297,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,"(314.0, 8.21)",-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)",1.234884,1.149292,-0.481338,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)",0.736216,0.629546,0.076840,0.736216,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)",0.852571,0.716170,0.076840,0.076840,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)",1.417729,1.149292,1.193197,1.193197,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,"(312.0, 8.78)",0.304036,-0.409947,0.635019,-0.409947,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)",1.766796,1.409165,0.635019,0.635019,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [18]:
# your code here
ad['decision'].value_counts()

0    308
1     77
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [22]:
# your code here
ad.columns = ad.columns.str.replace("[^\w^\s]",'').str.replace("\s","_").str.lower()
ad

/var/folders/_0/46b7d7lx5gxfy45sbjf5py3h0000gn/T/ipykernel_22817/3063920779.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  ad.columns = ad.columns.str.replace("[^\w^\s]",'').str.replace(" ","_").str.lower()

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,gre_cgpa,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)",1.750174,1.755663,1.193197,1.755663,1,347
1,316,8.00,2,104,3,3.0,3.5,1,0.72,"(316.0, 8.0)",-0.992501,-0.063450,0.076840,0.076840,0,316
2,322,8.67,3,110,3,3.5,2.5,1,0.80,"(322.0, 8.67)",0.121191,0.456297,-1.039517,0.456297,0,322
3,314,8.21,4,103,2,2.0,3.0,0,0.65,"(314.0, 8.21)",-0.643433,-0.236698,-0.481338,-0.643433,0,314
4,330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)",1.234884,1.149292,-0.481338,-0.481338,0,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)",0.736216,0.629546,0.076840,0.736216,0,324
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)",0.852571,0.716170,0.076840,0.076840,0,325
382,330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)",1.417729,1.149292,1.193197,1.193197,1,340
383,312,8.78,384,103,3,3.5,4.0,0,0.67,"(312.0, 8.78)",0.304036,-0.409947,0.635019,-0.409947,0,312
384,333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)",1.766796,1.409165,0.635019,0.635019,0,343

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [20]:
# your code here
#ad['adjusted_gre'] = ad[ad['University Rating'] >= 4]['GRE Score'] + 10 
ad['adjusted_gre'] = ad.apply(lambda x: x['GRE Score'] + 10 if x['University Rating'] >=4 else x['GRE Score'], axis =1)
ad

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_CGPA,CGPA_std,GRE_std,LOR_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,"(337.0, 9.65)",1.750174,1.755663,1.193197,1.755663,1,347
1,316,8.00,2,104,3,3.0,3.5,1,0.72,"(316.0, 8.0)",-0.992501,-0.063450,0.076840,0.076840,0,316
2,322,8.67,3,110,3,3.5,2.5,1,0.80,"(322.0, 8.67)",0.121191,0.456297,-1.039517,0.456297,0,322
3,314,8.21,4,103,2,2.0,3.0,0,0.65,"(314.0, 8.21)",-0.643433,-0.236698,-0.481338,-0.643433,0,314
4,330,9.34,5,115,5,4.5,3.0,1,0.90,"(330.0, 9.34)",1.234884,1.149292,-0.481338,-0.481338,0,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,"(324.0, 9.04)",0.736216,0.629546,0.076840,0.736216,0,324
381,325,9.11,382,107,3,3.0,3.5,1,0.84,"(325.0, 9.11)",0.852571,0.716170,0.076840,0.076840,0,325
382,330,9.45,383,116,4,5.0,4.5,1,0.91,"(330.0, 9.45)",1.417729,1.149292,1.193197,1.193197,1,340
383,312,8.78,384,103,3,3.5,4.0,0,0.67,"(312.0, 8.78)",0.304036,-0.409947,0.635019,-0.409947,0,312
384,333,9.66,385,117,4,5.0,4.0,1,0.95,"(333.0, 9.66)",1.766796,1.409165,0.635019,0.635019,0,343

In [21]:
labels = ["Low", "Moderate", "High", "Very High"]
bins = pd.cut(ad['adjusted_gre'],4, labels = labels)
bins.value_counts()

Moderate     150
High          90
Very High     75
Low           70
Name: adjusted_gre, dtype: int64