# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# Libraries
import pandas as pd
import numpy as np
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [4]:
# your code here
admissions = pd.read_csv('data/Admission_Predict.csv')
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [5]:
# your code here
admissions.columns = admissions.columns.str.rstrip()
admissions.columns

#https://stackoverflow.com/questions/41476150/removing-space-from-columns-in-pandas/41476181#41476181

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [6]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here
print(admissions.isna().any().any()) #--> If result is False means no missing data in the data set.
print("\n")
print(admissions.isna().sum().sum())
print("\n")
print(admissions.isna().sum())

#https://towardsdatascience.com/how-to-check-for-missing-values-in-pandas-d2749e45a345

False


0


Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here
admissions.set_index('Serial No.')
admissions
#https://www.marsja.se/how-to-make-column-index-in-pandas-dataframe-with-examples/

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [9]:
# your code here
admissions['GRE Score'].unique()
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In [10]:
admissions['CGPA'].unique()
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In [11]:
sum(admissions[['GRE Score', 'CGPA']].duplicated())

0

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [12]:
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)
admissions
#https://www.marsja.se/how-to-make-column-index-in-pandas-dataframe-with-examples/

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [13]:
# your code here
admissions.reset_index(inplace=True)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [14]:
# your code here

def finding(row):
    if row['CGPA'] >9 and row['Research'] ==1:
        return 1
    else:
        return 0

admissions['Finding1'] = admissions.apply(finding, axis=1)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Finding1
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1
...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1

In [15]:
print(admissions['Finding1'].sum())

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [16]:
# your code here
def finding(row):
    if row['CGPA'] >9 and row['SOP'] <3.5:
        return 1
    else:
        return 0

admissions['Finding2'] = admissions.apply(finding, axis=1)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Finding1,Finding2
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,0
...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,0

In [17]:
filtered = admissions[admissions['Finding2']==1]
filtered

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Finding1,Finding2
28,338,9.40,29,118,4,3.0,4.5,1,0.91,1,1
62,327,9.02,63,114,3,3.0,3.0,0,0.61,0,1
140,326,9.11,141,114,3,3.0,3.0,1,0.83,1,1
217,324,9.01,218,111,4,3.0,3.0,1,0.82,1,1
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1

In [18]:
print(filtered['Chance of Admit'].mean())

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [19]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    z= (col - col.mean())/col.std()
    return z

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [20]:
# your code here
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Finding1,Finding2,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0,1.747900,1.753381,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,0,-0.991211,-0.063367,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0,0.121034,0.455704,-1.038166
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,0,-0.642597,-0.236391,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,0,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0,0.735259,0.628727,0.076740
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1,0.851463,0.715239,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0,1.415886,1.147798,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0,0.303641,-0.409414,0.634193
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,0,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [21]:
# Libraries
from random import choices

In [22]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [23]:
# your code here
admissions['Deciding Column'] = admissions.lookup(admissions.index, decision_choice)
admissions

C:\Users\Filipe Gardete\anaconda3\envs\Sqlproject\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Finding1,Finding2,CGPA_std,GRE_std,LOR_std,Deciding Column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0,1.747900,1.753381,1.191647,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,0,-0.991211,-0.063367,0.076740,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0,0.121034,0.455704,-1.038166,0.455704
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,0,-0.642597,-0.236391,-0.480713,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,0,1.233279,1.147798,-0.480713,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0,0.735259,0.628727,0.076740,0.735259
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1,0.851463,0.715239,0.076740,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0,1.415886,1.147798,1.191647,1.415886
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0,0.303641,-0.409414,0.634193,-0.409414
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,0,1.764500,1.407334,0.634193,0.634193

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [24]:
# your code here
def decide(row):
    if row['Deciding Column'] >0.8:
        return 1
    else:
        return 0

admissions['decision'] = admissions.apply(decide, axis=1)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Finding1,Finding2,CGPA_std,GRE_std,LOR_std,Deciding Column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0,1.747900,1.753381,1.191647,1.191647,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,0,-0.991211,-0.063367,0.076740,0.076740,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0,0.121034,0.455704,-1.038166,0.455704,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,0,-0.642597,-0.236391,-0.480713,-0.480713,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,0,1.233279,1.147798,-0.480713,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0,0.735259,0.628727,0.076740,0.735259,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1,0.851463,0.715239,0.076740,0.076740,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0,1.415886,1.147798,1.191647,1.415886,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0,0.303641,-0.409414,0.634193,-0.409414,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,0,1.764500,1.407334,0.634193,0.634193,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [25]:
# your code here
filtered = admissions[admissions['decision']==1]
filtered

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Finding1,Finding2,CGPA_std,GRE_std,LOR_std,Deciding Column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0,1.747900,1.753381,1.191647,1.191647,1
9,327,9.00,10,111,4,4.0,4.5,1,0.84,0,0,0.668856,0.888263,1.191647,0.888263,1
10,328,9.10,11,112,4,4.0,4.5,1,0.78,1,0,0.834863,0.974775,1.191647,0.834863,1
19,328,9.50,20,116,5,5.0,5.0,1,0.94,1,0,1.498890,0.974775,1.749100,0.974775,1
20,334,9.70,21,119,5,5.0,4.5,1,0.95,1,0,1.830903,1.493846,1.191647,1.830903,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,340,9.74,370,113,4,5.0,5.0,1,0.96,1,0,1.897306,2.012916,1.749100,1.749100,1
370,335,9.82,371,117,5,5.0,5.0,1,0.96,1,0,2.030111,1.580357,1.749100,1.580357,1
377,326,9.12,378,112,4,4.0,3.5,1,0.84,1,0,0.868064,0.801751,0.076740,0.801751,1
379,329,9.23,380,111,4,4.5,4.0,1,0.89,1,0,1.050671,1.061286,0.634193,1.050671,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0,1.415886,1.147798,1.191647,1.415886,1

In [26]:
print(filtered['decision'].sum())

88

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [27]:
# your code here
admissions.columns = (admissions.columns
                            .str.replace(' ', '_')
                            .str.replace('.', '')
                            .str.lower())

admissions

C:\Users\Filipe Gardete\anaconda3\envs\Sqlproject\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,finding1,finding2,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0,1.747900,1.753381,1.191647,1.191647,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,0,-0.991211,-0.063367,0.076740,0.076740,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0,0.121034,0.455704,-1.038166,0.455704,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,0,-0.642597,-0.236391,-0.480713,-0.480713,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,0,1.233279,1.147798,-0.480713,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0,0.735259,0.628727,0.076740,0.735259,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1,0.851463,0.715239,0.076740,0.076740,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0,1.415886,1.147798,1.191647,1.415886,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0,0.303641,-0.409414,0.634193,-0.409414,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,0,1.764500,1.407334,0.634193,0.634193,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [28]:
admissions['adjusted_gre'] = pd.cut(np.where(admissions['university_rating'] >=4, admissions['gre_score'] + 10, admissions['gre_score']), bins=4)
admissions

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,finding1,finding2,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0,1.747900,1.753381,1.191647,1.191647,1,"(335.0, 350.0]"
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,0,-0.991211,-0.063367,0.076740,0.076740,0,"(305.0, 320.0]"
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0,0.121034,0.455704,-1.038166,0.455704,0,"(320.0, 335.0]"
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,0,-0.642597,-0.236391,-0.480713,-0.480713,0,"(305.0, 320.0]"
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,0,1.233279,1.147798,-0.480713,-0.480713,0,"(335.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0,0.735259,0.628727,0.076740,0.735259,0,"(320.0, 335.0]"
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1,0.851463,0.715239,0.076740,0.076740,0,"(320.0, 335.0]"
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0,1.415886,1.147798,1.191647,1.415886,1,"(335.0, 350.0]"
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0,0.303641,-0.409414,0.634193,-0.409414,0,"(305.0, 320.0]"
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,0,1.764500,1.407334,0.634193,0.634193,0,"(335.0, 350.0]"

In [29]:
def boost(row):
    if row['university_rating'] >=4:
        return row['gre_score'] + 10
    else:
        return row['gre_score']

admissions['adjusted_gre1'] = admissions.apply(boost, axis=1)
admissions

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,finding1,finding2,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,adjusted_gre1
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,0,1.747900,1.753381,1.191647,1.191647,1,"(335.0, 350.0]",347
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,0,-0.991211,-0.063367,0.076740,0.076740,0,"(305.0, 320.0]",316
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0,0.121034,0.455704,-1.038166,0.455704,0,"(320.0, 335.0]",322
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,0,-0.642597,-0.236391,-0.480713,-0.480713,0,"(305.0, 320.0]",314
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,0,1.233279,1.147798,-0.480713,-0.480713,0,"(335.0, 350.0]",340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0,0.735259,0.628727,0.076740,0.735259,0,"(320.0, 335.0]",324
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,1,0.851463,0.715239,0.076740,0.076740,0,"(320.0, 335.0]",325
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,0,1.415886,1.147798,1.191647,1.415886,1,"(335.0, 350.0]",340
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0,0.303641,-0.409414,0.634193,-0.409414,0,"(305.0, 320.0]",312
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,0,1.764500,1.407334,0.634193,0.634193,0,"(335.0, 350.0]",343

In [30]:
labels = ["Very Low", "Low", "High", "Very High"]
bins = pd.cut(admissions['adjusted_gre1'],4, labels = labels)
bins.value_counts()

Low          150
High          90
Very High     75
Very Low      70
Name: adjusted_gre1, dtype: int64