# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [8]:
adm_pre=pd.read_csv('/Users/rutepalminha/Desktop/ironhack/week2/labs2/lab-advanced-pandas/Admission_Predict.csv')
adm_pre

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [12]:
adm_pre.columns = adm_pre.columns.str.strip()
adm_pre

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [13]:
adm_pre.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [14]:
adm_pre.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [25]:
y = adm_pre.set_index('Serial No.')

y

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [57]:
print(y['GRE Score'].unique())
(len(y['GRE Score'].unique()))==385

[337 316 322 314 330 321 308 302 323 327 328 307 311 317 319 318 303 325
 334 336 298 295 310 300 338 340 331 320 299 304 313 332 326 329 339 312
 324 309 315 301 296 294 306 305 290 335 333 297 293]

False

In [58]:
print(y['CGPA'].unique())
(len(y['CGPA'].unique()))==385

[9.65 8.   8.67 8.21 9.34 8.2  7.9  8.6  9.   9.1  8.3  8.7  8.8  8.5
 8.4  9.5  9.7  9.8  7.5  7.2  7.3  8.1  9.4  9.6  9.2  7.8  7.7  9.3
 8.85 7.4  7.6  6.8  8.92 9.02 8.64 9.22 9.16 9.64 9.76 9.45 9.04 8.9
 8.56 8.72 8.22 7.54 7.36 8.02 9.36 8.66 8.42 8.28 8.14 7.92 7.66 8.03
 7.88 7.84 8.96 9.24 8.88 8.46 8.12 8.25 8.47 9.05 8.78 9.18 9.46 9.38
 8.48 8.68 8.34 8.45 8.62 7.46 7.28 8.84 9.56 9.48 8.36 9.32 8.71 9.35
 8.65 9.28 8.77 8.16 9.08 9.12 9.15 9.44 9.92 9.11 8.26 9.43 9.06 8.75
 8.89 8.69 7.86 9.01 8.97 8.33 8.27 7.98 8.04 9.07 9.13 9.23 8.87 8.98
 8.94 9.53 8.76 8.52 8.54 9.91 9.87 7.65 7.89 9.14 9.66 9.78 9.42 9.26
 8.23 8.07 9.31 9.17 9.19 8.37 7.68 8.15 8.73 8.83 8.57 9.68 8.09 8.79
 8.17 7.64 8.01 7.95 8.49 7.87 7.97 8.18 8.32 8.55 8.43 8.53 8.74 8.44
 9.47 8.24 8.13 7.34 7.43 7.25 8.06 7.67 9.54 9.62 7.56 9.74 9.82 7.96]

False

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [62]:
y = adm_pre.set_index(['GRE Score','CGPA'])
#print(y)
a=y.reset_index()
print(a)

     GRE Score  CGPA  Serial No.  TOEFL Score  University Rating  SOP  LOR  \
0          337  9.65           1          118                  4  4.5  4.5
1          316  8.00           2          104                  3  3.0  3.5
2          322  8.67           3          110                  3  3.5  2.5
3          314  8.21           4          103                  2  2.0  3.0
4          330  9.34           5          115                  5  4.5  3.0
..         ...   ...         ...          ...                ...  ...  ...
380        324  9.04         381          110                  3  3.5  3.5
381        325  9.11         382          107                  3  3.0  3.5
382        330  9.45         383          116                  4  5.0  4.5
383        312  8.78         384          103                  3  3.5  4.0
384        333  9.66         385          117                  4  5.0  4.0

     Research  Chance of Admit
0           1             0.92
1           1             0.72
2           1             0.80
3           0             0.65
4           1             0.90
..        ...              ...
380         1             0.82
381         1             0.84
382         1             0.91
383         0             0.67
384         1             0.95

[385 rows x 9 columns]

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [76]:
adm_pre=pd.read_csv('/Users/rutepalminha/Desktop/ironhack/week2/labs2/lab-advanced-pandas/Admission_Predict.csv')
z=adm_pre[(adm_pre['CGPA']>9) & (adm_pre['Research']==1)]
len(z['CGPA'])

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [79]:
z=adm_pre[(adm_pre['CGPA']>9) & (adm_pre['SOP']<3.5)]
print(z)
z['Chance of Admit '].mean()

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
28           29        338          118                  4  3.0   4.5  9.40
62           63        327          114                  3  3.0   3.0  9.02
140         141        326          114                  3  3.0   3.0  9.11
217         218        324          111                  4  3.0   3.0  9.01
381         382        325          107                  3  3.0   3.5  9.11

     Research  Chance of Admit
28          1              0.91
62          0              0.61
140         1              0.83
217         1              0.82
381         1              0.84

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [98]:
import numpy as np
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """

    mean = col.mean()
    std= col.std()
    std_col=[]
    for i in col:
        std_col.append((i-mean)/std)
    return std_col

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [108]:
cgpa_std=standardize(adm_pre['CGPA'])
gre_std=standardize(adm_pre['GRE Score'])
lor_std=standardize(adm_pre['LOR '])
adm_pre['cgpa_std']= cgpa_std
adm_pre['gre_std']=gre_std
adm_pre['lor_std']=lor_std
adm_pre

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,cgpa_std,gre_std,lor_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [109]:
# Libraries
from random import choices

In [112]:
std_columns = ['cgpa_std', 'gre_std', 'lor_std']

decision_choice = choices(std_columns, k=adm_pre.shape[0])
decision_choice

['cgpa_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'lor_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'lor_std',
 'gre_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'lor_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'gre_std',
 'cgpa_std',
 'lor_std',
 'cgpa_std',
 'cgpa_std',
 'lor_std',
 'gre_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [116]:
adm_pre['decision_column']=adm_pre.lookup(adm_pre.index, decision_choice)
adm_pre

/var/folders/c8/dznw2b0n269_g630mzwm_tmc0000gn/T/ipykernel_85966/1106317605.py:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  adm_pre['decision_column']=adm_pre.lookup(adm_pre.index, decision_choice)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,cgpa_std,gre_std,lor_std,decision_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.063367
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.076740
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.851463
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,0.634193
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.407334

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [122]:
adm_pre['decision']=[1 if el>0.8 else 0 for el in adm_pre['decision_column']]
adm_pre

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,cgpa_std,gre_std,lor_std,decision_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.076740,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.851463,1
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,0.634193,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.407334,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [128]:
adm_pre['decision'].sum()

89

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [140]:



adm_pre.columns=adm_pre.columns.str.replace('\s','_').str.replace('\W','').str.lower()
adm_pre

/var/folders/c8/dznw2b0n269_g630mzwm_tmc0000gn/T/ipykernel_85966/4074996232.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  adm_pre.columns=adm_pre.columns.str.replace('\s','_').str.replace('\W','').str.lower()
/var/folders/c8/dznw2b0n269_g630mzwm_tmc0000gn/T/ipykernel_85966/4074996232.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  adm_pre.columns=adm_pre.columns.str.replace('\s','_').str.replace('\W','').str.lower()

,serial_no,gre_score,toefl_score,university_rating,sop,lor_,cgpa,research,chance_of_admit_,cgpa_std,gre_std,lor_std,decision_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.076740,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.851463,1
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,0.634193,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.407334,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [149]:
adm_pre['adjusted_gre']=np.where(adm_pre['university_rating']>=4,adm_pre['gre_score']+10,adm_pre['gre_score'])
adm_pre

,serial_no,gre_score,toefl_score,university_rating,sop,lor_,cgpa,research,chance_of_admit_,cgpa_std,gre_std,lor_std,decision_column,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1,347
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0,316
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0,322
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0,314
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.076740,0,324
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.851463,1,325
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886,1,340
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,0.634193,0,312
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.407334,1,343

In [154]:
adm_pre['bins']= pd.cut(adm_pre['adjusted_gre'],4)

In [155]:
adm_pre

,serial_no,gre_score,toefl_score,university_rating,sop,lor_,cgpa,research,chance_of_admit_,cgpa_std,gre_std,lor_std,decision_column,decision,adjusted_gre,bins
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1,347,"(335.0, 350.0]"
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0,316,"(305.0, 320.0]"
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0,322,"(320.0, 335.0]"
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0,314,"(305.0, 320.0]"
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798,1,340,"(335.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.076740,0,324,"(320.0, 335.0]"
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.851463,1,325,"(320.0, 335.0]"
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886,1,340,"(335.0, 350.0]"
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,0.634193,0,312,"(305.0, 320.0]"
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.407334,1,343,"(335.0, 350.0]"