# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [23]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [24]:
df = pd.read_csv("Admission_Predict.csv")
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [25]:
df.columns = df.columns.str.strip()

Let's evaluate the dataset by looking at the `head` function.

In [26]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [27]:
print(df.isnull().sum().sum())

0

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [28]:
df = df.set_index('Serial No.', drop=False)
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [29]:
print(df.duplicated(subset=['GRE Score', 'CGPA']))

Serial No.
1      False
2      False
3      False
4      False
5      False
       ...
381    False
382    False
383    False
384    False
385    False
Length: 385, dtype: bool

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [30]:
df.set_index(['GRE Score', 'CGPA'], inplace=True)
df

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

In [33]:
df.reset_index(inplace=True)
df

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...,...
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [42]:
num_rows = len((df['CGPA'] > 9) & (df['Research'] == 1))
num_rows

385

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [38]:
num_rows = len((df['CGPA'] > 9) & (df['SOP'] < 3.5))
num_rows

385

In [46]:
mean = df['Chance of Admit'].mean()
mean

0.7239220779220779

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [51]:
def standardize(col):
    column_mean = np.mean(col)
    column_std = np.std(col)
    standardized_column = (col - column_mean) / column_std
    return standardized_column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [53]:
df['CGPA_std'] = standardize(df['CGPA'])
df['GRE_std'] = standardize(df['GRE Score'])
df['LOR_std'] = standardize(df['LOR'])
df

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [54]:
# Libraries
from random import choices

In [56]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [58]:
deciding_column = df.lookup(df.index, decision_choice)
df['deciding_column'] = deciding_column

C:\Users\jsctr\AppData\Local\Temp\ipykernel_8680\2797183904.py:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  deciding_column = df.lookup(df.index, decision_choice)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [61]:
def make_decision(deciding_column):
    if deciding_column > 0.8:
        return 1
    else:
        return 0

df['decision'] = df['deciding_column'].apply(make_decision)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [63]:
num_accepted = df['decision'].sum()
num_accepted

82

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [65]:
df.columns = df.columns.str.replace('[^a-zA-Z ]', '').str.replace(' ', '_').str.lower()
df.columns

C:\Users\jsctr\AppData\Local\Temp\ipykernel_8680\2148582504.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('[^a-zA-Z ]', '').str.replace(' ', '_').str.lower()

Index(['index', 'gre_score', 'cgpa', 'serial_no', 'toefl_score',
       'university_rating', 'sop', 'lor', 'research', 'chance_of_admit',
       'cgpastd', 'grestd', 'lorstd', 'decidingcolumn', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [70]:
df.loc[df['university_rating'] >= 4, 'adjusted_gre'] = df['gre_score'] + 10
df.loc[df['university_rating'] < 4, 'adjusted_gre'] = df['gre_score']

In [71]:
df['adjusted_gre_bins'] = pd.cut(df['adjusted_gre'], bins=4)
df

,index,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpastd,grestd,lorstd,decidingcolumn,decision,adjusted_gre,adjusted_gre_bins
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.193197,1,347.0,"(335.0, 350.0]"
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,316.0,"(305.0, 320.0]"
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0,322.0,"(320.0, 335.0]"
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0,314.0,"(305.0, 320.0]"
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.234884,1,340.0,"(335.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.736216,0,324.0,"(320.0, 335.0]"
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.076840,0,325.0,"(320.0, 335.0]"
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.417729,1,340.0,"(335.0, 350.0]"
383,383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,0.635019,0,312.0,"(305.0, 320.0]"
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1,343.0,"(335.0, 350.0]"