# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions = df = pd.read_csv('./data/Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [3]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [4]:
# your code here
df.rename(columns=lambda x: x.strip())

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# your code here
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [6]:
# your code here
df.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# your code here
df = df.reset_index().set_index('Serial No.')
df.head()

,index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,0,337,118,4,4.5,4.5,9.65,1,0.92
2,1,316,104,3,3.0,3.5,8.00,1,0.72
3,2,322,110,3,3.5,2.5,8.67,1,0.80
4,3,314,103,2,2.0,3.0,8.21,0,0.65
5,4,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
# your code here
df['GRE Score'].unique()

array([337, 316, 322, 314, 330, 321, 308, 302, 323, 327, 328, 307, 311,
       317, 319, 318, 303, 325, 334, 336, 298, 295, 310, 300, 338, 340,
       331, 320, 299, 304, 313, 332, 326, 329, 339, 312, 324, 309, 315,
       301, 296, 294, 306, 305, 290, 335, 333, 297, 293])

In [9]:
df['CGPA'].unique()

array([9.65, 8.  , 8.67, 8.21, 9.34, 8.2 , 7.9 , 8.6 , 9.  , 9.1 , 8.3 ,
       8.7 , 8.8 , 8.5 , 8.4 , 9.5 , 9.7 , 9.8 , 7.5 , 7.2 , 7.3 , 8.1 ,
       9.4 , 9.6 , 9.2 , 7.8 , 7.7 , 9.3 , 8.85, 7.4 , 7.6 , 6.8 , 8.92,
       9.02, 8.64, 9.22, 9.16, 9.64, 9.76, 9.45, 9.04, 8.9 , 8.56, 8.72,
       8.22, 7.54, 7.36, 8.02, 9.36, 8.66, 8.42, 8.28, 8.14, 7.92, 7.66,
       8.03, 7.88, 7.84, 8.96, 9.24, 8.88, 8.46, 8.12, 8.25, 8.47, 9.05,
       8.78, 9.18, 9.46, 9.38, 8.48, 8.68, 8.34, 8.45, 8.62, 7.46, 7.28,
       8.84, 9.56, 9.48, 8.36, 9.32, 8.71, 9.35, 8.65, 9.28, 8.77, 8.16,
       9.08, 9.12, 9.15, 9.44, 9.92, 9.11, 8.26, 9.43, 9.06, 8.75, 8.89,
       8.69, 7.86, 9.01, 8.97, 8.33, 8.27, 7.98, 8.04, 9.07, 9.13, 9.23,
       8.87, 8.98, 8.94, 9.53, 8.76, 8.52, 8.54, 9.91, 9.87, 7.65, 7.89,
       9.14, 9.66, 9.78, 9.42, 9.26, 8.23, 8.07, 9.31, 9.17, 9.19, 8.37,
       7.68, 8.15, 8.73, 8.83, 8.57, 9.68, 8.09, 8.79, 8.17, 7.64, 8.01,
       7.95, 8.49, 7.87, 7.97, 8.18, 8.32, 8.55, 8.43, 8.53, 8.74, 8.44,
       9.47, 8.24, 8.13, 7.34, 7.43, 7.25, 8.06, 7.67, 9.54, 9.62, 7.56,
       9.74, 9.82, 7.96])

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [10]:
df.drop(['GRE Score', 'CGPA'], axis=1)

,index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
Serial No.,,,,,,,
1,0,118,4,4.5,4.5,1,0.92
2,1,104,3,3.0,3.5,1,0.72
3,2,110,3,3.5,2.5,1,0.80
4,3,103,2,2.0,3.0,0,0.65
5,4,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
381,380,110,3,3.5,3.5,1,0.82
382,381,107,3,3.0,3.5,1,0.84
383,382,116,4,5.0,4.5,1,0.91
384,383,103,3,3.5,4.0,0,0.67
385,384,117,4,5.0,4.0,1,0.95

In [11]:
# your code here
df = df.reset_index()

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [12]:
df.head()

,Serial No.,index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,0,337,118,4,4.5,4.5,9.65,1,0.92
1,2,1,316,104,3,3.0,3.5,8.00,1,0.72
2,3,2,322,110,3,3.5,2.5,8.67,1,0.80
3,4,3,314,103,2,2.0,3.0,8.21,0,0.65
4,5,4,330,115,5,4.5,3.0,9.34,1,0.90

In [13]:
# your code here
df.loc[df['CGPA'] > 9]

,Serial No.,index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,0,337,118,4,4.5,4.5,9.65,1,0.92
4,5,4,330,115,5,4.5,3.0,9.34,1,0.90
10,11,10,328,112,4,4.0,4.5,9.10,1,0.78
19,20,19,328,116,5,5.0,5.0,9.50,1,0.94
20,21,20,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...,...
379,380,379,329,111,4,4.5,4.0,9.23,1,0.89
380,381,380,324,110,3,3.5,3.5,9.04,1,0.82
381,382,381,325,107,3,3.0,3.5,9.11,1,0.84
382,383,382,330,116,4,5.0,4.5,9.45,1,0.91
384,385,384,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [14]:
# your code here
df.loc[(df['CGPA'] > 9) & (df['SOP'] < 3.5)]

,Serial No.,index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,28,338,118,4,3.0,4.5,9.40,1,0.91
62,63,62,327,114,3,3.0,3.0,9.02,0,0.61
140,141,140,326,114,3,3.0,3.0,9.11,1,0.83
217,218,217,324,111,4,3.0,3.0,9.01,1,0.82
381,382,381,325,107,3,3.0,3.5,9.11,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [15]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return (col - col.mean()) / (col.std())

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [16]:
# your code here
df['CGPA_std'] = standardize(df['CGPA'])

In [17]:
df['GRE_std'] = standardize(df['GRE Score'])

In [18]:
df['LOR_std'] = standardize(df['LOR '])

In [19]:
df.head()

,Serial No.,index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,0,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,1,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,2,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,3,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,4,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [20]:
# Libraries
from random import choices

In [21]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k = admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [22]:
# your code here

df['deciding_column'] = df.lookup(df.index, decision_choice)
df.head()

,Serial No.,index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,0,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.753381
1,2,1,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,0.076740
2,3,2,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,0.455704
3,4,3,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597
4,5,4,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,-0.480713

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [23]:
# your code here
admissions['decision'] = np.where(df['deciding_column'] > 0.8, 1, 0)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,0
...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,1
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [24]:
# your code here
admissions['decision'].sum()

78

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [49]:
# your code here
import re

admissions = admissions.rename(columns = lambda x: x.strip().strip().replace(' ', '_').lower())
admissions

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,0
...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,1
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [50]:
# your code here
admissions['adjusted_gre'] = pd.cut(admissions[admissions['university_rating'] >= 4].apply(
    lambda x: x['gre_score'] + 10, axis=1), bins=4, labels=[1,2,3,4])

In [51]:
admissions[admissions['adjusted_gre'].notnull()]

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1,4
4,5,330,115,5,4.5,3.0,9.34,1,0.90,0,4
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0,3
10,11,328,112,4,4.0,4.5,9.10,1,0.78,1,4
18,19,325,114,4,3.0,2.0,8.40,0,0.70,0,3
...,...,...,...,...,...,...,...,...,...,...,...
370,371,335,117,5,5.0,5.0,9.82,1,0.96,1,4
377,378,326,112,4,4.0,3.5,9.12,1,0.84,1,3
379,380,329,111,4,4.5,4.0,9.23,1,0.89,0,4
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1,4
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1,4