# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [103]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [30]:
# your code here
admissions = pd.read_csv("Admission_Predict.csv")

Remove trailing spaces at the end of the column names if there are any.

In [31]:
# your code here
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [32]:
# your code here

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [33]:
# your code here
admissions.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [34]:
# your code here
admissions = admissions.set_index('Serial No.')

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [35]:
# your code here
admissions.set_index(["GRE Score", "CGPA"], inplace=False).index.is_unique

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [36]:
# your code here
admissions.reset_index(inplace = True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [50]:
# your code here
admissions[(admissions["CGPA"] > 9) & (admissions["Research"]==1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [53]:
# your code here
mean_chance = admissions[(admissions["CGPA"] > 9) & (admissions["SOP"]<3.5)]
mean_chance["Chance of Admit"].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [59]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    new_column = col+"_std"
    admissions[new_column] = (admissions[col] - admissions[col].mean())/admissions[col].std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [62]:
# your code here
standardize("CGPA")
standardize("GRE Score")
standardize("LOR")
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [68]:
# Libraries
from random import choices

In [77]:
std_columns = ['CGPA_std', 'GRE Score_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [106]:
# your code here

deciding_column = [admissions._get_value(row, col) for row, col in zip(admissions.index,decision_choice)]
admissions['deciding_column']= deciding_column

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.753381
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.991211
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.735259
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.076740
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,-0.409414
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.764500

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [113]:
x = list(admissions["deciding_column"])

In [116]:
# your code here
decision = []
for item in x:
    if item > 0.8:
        decision.append(1)
    else:
        decision.append(0)
admissions["decision"] = decision

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.753381,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.735259,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.076740,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,-0.409414,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.764500,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [125]:
# your code here
admissions["decision"].value_counts()

decision
0    305
1     80
Name: count, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [136]:
# your code here
admissions.columns = admissions.columns.str.replace('[^a-zA-Z]', '').str.replace(" ","_").str.lower()

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.753381,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.735259,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.076740,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,-0.409414,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.764500,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [143]:
# your code here

def points(row):
    points=row['university_rating']
    if points >=4:
        return points + 10
    else:
        return points
    
admissions['adjusted_gre']=admissions.apply(points, axis=1)
admissions.head()
bins = [0, 25, 50, 75, 100]
admissions['adjusted_gre'] = pd.cut(admissions['adjusted_gre'],bins)

admissions

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.753381,1,"(0, 25]"
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0,"(0, 25]"
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0,"(0, 25]"
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0,"(0, 25]"
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.147798,1,"(0, 25]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,0.735259,0,"(0, 25]"
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,0.076740,0,"(0, 25]"
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,1.415886,1,"(0, 25]"
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,-0.409414,0,"(0, 25]"
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,1.764500,1,"(0, 25]"