# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import numpy as np
import pandas as pd
import os
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [4]:
# your code here
tabela = pd.read_csv('./data/Admission_Predict.csv')
tabela.describe
tabela.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [5]:
# your code here
tabela.rename(columns=lambda x: x.rstrip(), inplace=True)

Let's evaluate the dataset by looking at the `head` function.

In [6]:
# your code here
tabela.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here
tabela.isnull().sum()
tabela.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here
tabela.set_index('Serial No.', inplace=True)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [9]:
# your code here
tabela[['GRE Score', 'CGPA']]

            GRE Score  CGPA
Serial No.
1                 337  9.65
2                 316  8.00
3                 322  8.67
4                 314  8.21
5                 330  9.34
...               ...   ...
381               324  9.04
382               325  9.11
383               330  9.45
384               312  8.78
385               333  9.66

[385 rows x 2 columns]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# your code here
pattern = tabela['GRE Score']+tabela['CGPA']
tabela.set_index(pattern,inplace=True)
tabela.drop(columns=['GRE Score','CGPA'],inplace=True)
tabela.head()

        TOEFL Score  University Rating  SOP  LOR  Research  Chance of Admit
346.65          118                  4  4.5  4.5         1             0.92
324.00          104                  3  3.0  3.5         1             0.72
330.67          110                  3  3.5  2.5         1             0.80
322.21          103                  2  2.0  3.0         0             0.65
339.34          115                  5  4.5  3.0         1             0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [17]:
# your code here
table2 = pd.read_csv('.\data\Admission_Predict.csv')
cond1 = table2['CGPA'] > 9
cond2 = table2['Research'] > 0

table2.groupby(cond1 & cond2).agg({'Research':'count'})


#to check only the true rows
cond_table = table2[cond1 & cond2]
cond_table.shape[0]

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [27]:
# your code here
cond3 = table2['SOP'] < 3.5
table2.groupby(cond1 & cond3 == True).agg({'SOP':'count'})
filter1 = table2[(cond1 & cond3)]
filter1.columns
filter1['Chance of Admit '].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [28]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    
    mean_value = np.mean(col)
    std_value = np.std(col)
    return col.apply(lambda x: (x-mean_value) / (std_value))

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [29]:
# your code here
table2.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

We will generate the decision choice at random using the code below. Please run the cell.

In [40]:
new_columns = ['CGPA_std', 'GRE_std','LOR_std']

#df = pd.DataFrame(columns=new_columns)
#admissions = table2.append(df)
#admissions.head()

#Loop for populate the new columns
old_columns = ['CGPA', 'GRE Score', 'LOR ']
for item in new_columns:
    for old_item in old_columns:
        admissions[str(item)] = standardize(admissions[str(old_item)])
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA-std,GRE_std,LOR_std,CGPA_std
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92,1.755663,1.193197,1.193197,1.193197
1,2.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,-0.063450,0.076840,0.076840,0.076840
2,3.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,0.456297,-1.039517,-1.039517,-1.039517
3,4.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,-0.236698,-0.481338,-0.481338,-0.481338
4,5.0,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,1.149292,-0.481338,-0.481338,-0.481338

In [41]:
# Libraries
from random import choices

In [42]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [43]:
# your code here
admissions['deciding_column'] = admissions.lookup(admissions.index,decision_choice)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA-std,GRE_std,LOR_std,CGPA_std,deciding_column
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92,1.755663,1.193197,1.193197,1.193197,1.193197
1,2.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,-0.063450,0.076840,0.076840,0.076840,0.076840
2,3.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,0.456297,-1.039517,-1.039517,-1.039517,-1.039517
3,4.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,-0.236698,-0.481338,-0.481338,-0.481338,-0.481338
4,5.0,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,1.149292,-0.481338,-0.481338,-0.481338,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381.0,324.0,110.0,3.0,3.5,3.5,9.04,1.0,0.82,0.629546,0.076840,0.076840,0.076840,0.076840
381,382.0,325.0,107.0,3.0,3.0,3.5,9.11,1.0,0.84,0.716170,0.076840,0.076840,0.076840,0.076840
382,383.0,330.0,116.0,4.0,5.0,4.5,9.45,1.0,0.91,1.149292,1.193197,1.193197,1.193197,1.193197
383,384.0,312.0,103.0,3.0,3.5,4.0,8.78,0.0,0.67,-0.409947,0.635019,0.635019,0.635019,0.635019
384,385.0,333.0,117.0,4.0,5.0,4.0,9.66,1.0,0.95,1.409165,0.635019,0.635019,0.635019,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [45]:
# your code here
admissions['decision'] = admissions['deciding_column'].apply(lambda x: 1 if x>0.8 else 0)
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA-std,GRE_std,LOR_std,CGPA_std,deciding_column,decision
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92,1.755663,1.193197,1.193197,1.193197,1.193197,1
1,2.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,-0.063450,0.076840,0.076840,0.076840,0.076840,0
2,3.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,0.456297,-1.039517,-1.039517,-1.039517,-1.039517,0
3,4.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,-0.236698,-0.481338,-0.481338,-0.481338,-0.481338,0
4,5.0,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,1.149292,-0.481338,-0.481338,-0.481338,-0.481338,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [47]:
# your code here
len(admissions[admissions['decision']== 1])

74

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [48]:
# your code here
table3 = pd.read_csv('.\data\Admission_Predict.csv')

table3.rename(columns=lambda x: x.rstrip(), inplace=True)
table3.rename(columns=lambda name:re.sub(r' ',"_", name),inplace=True) #replace all spaces in column names to underscores
table3.rename(columns=lambda name:re.sub(r'\W',"", name),inplace=True) #remove all non character symbols
table3.rename(columns=lambda y: y.lower(),inplace=True) #change all upper case characters to lower case
table3

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [49]:
# your code here
#condition = table3['university_rating'] > 4
#table3['adjust_gre'] = table3['gre_score'].apply(lambda x: x+10 if condition == True else x)

#pd.cut(table3['adjusted_gre'],4)
pd.cut(table3['gre_score'],4)
#pd.qcut(table3['gre_score'], q=4)

0      (327.5, 340.0]
1      (315.0, 327.5]
2      (315.0, 327.5]
3      (302.5, 315.0]
4      (327.5, 340.0]
            ...
380    (315.0, 327.5]
381    (315.0, 327.5]
382    (327.5, 340.0]
383    (302.5, 315.0]
384    (327.5, 340.0]
Name: gre_score, Length: 385, dtype: category
Categories (4, interval[float64]): [(289.95, 302.5] < (302.5, 315.0] < (315.0, 327.5] < (327.5, 340.0]]