# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [67]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [68]:
data = pd.read_csv('/Users/brunogama/Desktop/labs/Labs - Week 2/lab-advanced-pandas/your-code/data/Admission_Predict.csv')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [69]:
data.columns = data.columns.str.strip()
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [70]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [71]:
data.isnull()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [72]:
data.set_index(['Serial No.'], inplace=True)
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [73]:
#pd.unique(data)
#pandas.dataframe.column-name.unique()

new_data['GRE Score'].unique()

array([337, 316, 322, 314, 330, 321, 308, 302, 323, 327, 328, 307, 311,
       317, 319, 318, 303, 325, 334, 336, 298, 295, 310, 300, 338, 340,
       331, 320, 299, 304, 313, 332, 326, 329, 339, 312, 324, 309, 315,
       301, 296, 294, 306, 305, 290, 335, 333, 297, 293])

In [74]:
#('Serial No.', inplace=True)

# your code here

#We sum, per each row in the dataframe, the GRE score and CGPA values, and we create a new column called 'Combined GRE CGPA' which represents the summed value

data['Combined_GRE_CGPA'] = data['GRE Score'].astype('str') + data['CGPA'].astype('str')
data['Combined_GRE_CGPA']

Serial No.
1      3379.65
2       3168.0
3      3228.67
4      3148.21
5      3309.34
        ...
381    3249.04
382    3259.11
383    3309.45
384    3128.78
385    3339.66
Name: Combined_GRE_CGPA, Length: 385, dtype: object

In [75]:
len(data['Combined_GRE_CGPA'].unique())

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [76]:
data.set_index(['GRE Score', 'CGPA'], inplace=True)
data

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined_GRE_CGPA
GRE Score,CGPA,,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92,3379.65
316,8.00,104,3,3.0,3.5,1,0.72,3168.0
322,8.67,110,3,3.5,2.5,1,0.80,3228.67
314,8.21,103,2,2.0,3.0,0,0.65,3148.21
330,9.34,115,5,4.5,3.0,1,0.90,3309.34
...,...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82,3249.04
325,9.11,107,3,3.0,3.5,1,0.84,3259.11
330,9.45,116,4,5.0,4.5,1,0.91,3309.45
312,8.78,103,3,3.5,4.0,0,0.67,3128.78
333,9.66,117,4,5.0,4.0,1,0.95,3339.66

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [77]:
data.reset_index(inplace = True)
data

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined_GRE_CGPA
0,337,9.65,118,4,4.5,4.5,1,0.92,3379.65
1,316,8.00,104,3,3.0,3.5,1,0.72,3168.0
2,322,8.67,110,3,3.5,2.5,1,0.80,3228.67
3,314,8.21,103,2,2.0,3.0,0,0.65,3148.21
4,330,9.34,115,5,4.5,3.0,1,0.90,3309.34
...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,3249.04
381,325,9.11,107,3,3.0,3.5,1,0.84,3259.11
382,330,9.45,116,4,5.0,4.5,1,0.91,3309.45
383,312,8.78,103,3,3.5,4.0,0,0.67,3128.78
384,333,9.66,117,4,5.0,4.0,1,0.95,3339.66

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [78]:
data

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined_GRE_CGPA
0,337,9.65,118,4,4.5,4.5,1,0.92,3379.65
1,316,8.00,104,3,3.0,3.5,1,0.72,3168.0
2,322,8.67,110,3,3.5,2.5,1,0.80,3228.67
3,314,8.21,103,2,2.0,3.0,0,0.65,3148.21
4,330,9.34,115,5,4.5,3.0,1,0.90,3309.34
...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,3249.04
381,325,9.11,107,3,3.0,3.5,1,0.84,3259.11
382,330,9.45,116,4,5.0,4.5,1,0.91,3309.45
383,312,8.78,103,3,3.5,4.0,0,0.67,3128.78
384,333,9.66,117,4,5.0,4.0,1,0.95,3339.66

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [80]:
chance_ad = data[(data["CGPA"]>9) & (data["SOP"]<3.5)]
chance_ad

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined_GRE_CGPA
28,338,9.40,118,4,3.0,4.5,1,0.91,3389.4
62,327,9.02,114,3,3.0,3.0,0,0.61,3279.02
140,326,9.11,114,3,3.0,3.0,1,0.83,3269.11
217,324,9.01,111,4,3.0,3.0,1,0.82,3249.01
381,325,9.11,107,3,3.0,3.5,1,0.84,3259.11

In [82]:
chance_ad.mean()

/var/folders/r2/x4yr01654bdd1zgjrpn4khjr0000gn/T/ipykernel_1147/2744565307.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  chance_ad.mean()

GRE Score            328.000
CGPA                   9.130
TOEFL Score          112.800
University Rating      3.400
SOP                    3.000
LOR                    3.400
Research               0.800
Chance of Admit        0.802
dtype: float64

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [88]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    return col - col.mean() / col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [91]:
# your code here
data['CGPA_std'] = standardize(data['CGPA'])

In [93]:
data['GRE_std'] = standardize(data['GRE Score'])

In [94]:
data['LOR_std'] = standardize(data['LOR'])

In [97]:
data

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Combined_GRE_CGPA,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,3379.65,-4.621747,309.598899,0.674568
1,316,8.00,104,3,3.0,3.5,1,0.72,3168.0,-6.271747,288.598899,-0.325432
2,322,8.67,110,3,3.5,2.5,1,0.80,3228.67,-5.601747,294.598899,-1.325432
3,314,8.21,103,2,2.0,3.0,0,0.65,3148.21,-6.061747,286.598899,-0.825432
4,330,9.34,115,5,4.5,3.0,1,0.90,3309.34,-4.931747,302.598899,-0.825432
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,3249.04,-5.231747,296.598899,-0.325432
381,325,9.11,107,3,3.0,3.5,1,0.84,3259.11,-5.161747,297.598899,-0.325432
382,330,9.45,116,4,5.0,4.5,1,0.91,3309.45,-4.821747,302.598899,0.674568
383,312,8.78,103,3,3.5,4.0,0,0.67,3128.78,-5.491747,284.598899,0.174568
384,333,9.66,117,4,5.0,4.0,1,0.95,3339.66,-4.611747,305.598899,0.174568

We will generate the decision choice at random using the code below. Please run the cell.

In [96]:
# Libraries
from random import choices

In [100]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=data.shape[0])
decision_choice

['GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [101]:
data['Deciding Column'] = data.lookup(data.index, decision_choice)
data[['Deciding Column']]

/var/folders/r2/x4yr01654bdd1zgjrpn4khjr0000gn/T/ipykernel_1147/243968627.py:1: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  data['Deciding Column'] = data.lookup(data.index, decision_choice)

     Deciding Column
0         309.598899
1          -6.271747
2          -5.601747
3         286.598899
4          -0.825432
..               ...
380        -0.325432
381        -5.161747
382         0.674568
383        -5.491747
384         0.174568

[385 rows x 1 columns]

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [108]:
def decision(i):
    if i > 0.8:
        return 1
    else:
        return 0

In [111]:
data['decision'] = data['deciding_column'].apply(decision)
data

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,combined_gre_cgpa,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,3379.65,-4.621747,309.598899,0.674568,309.598899,1
1,316,8.00,104,3,3.0,3.5,1,0.72,3168.0,-6.271747,288.598899,-0.325432,-6.271747,0
2,322,8.67,110,3,3.5,2.5,1,0.80,3228.67,-5.601747,294.598899,-1.325432,-5.601747,0
3,314,8.21,103,2,2.0,3.0,0,0.65,3148.21,-6.061747,286.598899,-0.825432,286.598899,1
4,330,9.34,115,5,4.5,3.0,1,0.90,3309.34,-4.931747,302.598899,-0.825432,-0.825432,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,3249.04,-5.231747,296.598899,-0.325432,-0.325432,0
381,325,9.11,107,3,3.0,3.5,1,0.84,3259.11,-5.161747,297.598899,-0.325432,-5.161747,0
382,330,9.45,116,4,5.0,4.5,1,0.91,3309.45,-4.821747,302.598899,0.674568,0.674568,0
383,312,8.78,103,3,3.5,4.0,0,0.67,3128.78,-5.491747,284.598899,0.174568,-5.491747,0
384,333,9.66,117,4,5.0,4.0,1,0.95,3339.66,-4.611747,305.598899,0.174568,0.174568,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [114]:
data['decision'].value_counts()

# the answer is 128

0    257
1    128
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [123]:
data.columns = data.columns.str.strip().str.replace(" ", "_").str.lower()
data.columns
data

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,combined_gre_cgpa,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,118,4,4.5,4.5,1,0.92,3379.65,-4.621747,309.598899,0.674568,309.598899,1,337
1,316,8.00,104,3,3.0,3.5,1,0.72,3168.0,-6.271747,288.598899,-0.325432,-6.271747,0,316
2,322,8.67,110,3,3.5,2.5,1,0.80,3228.67,-5.601747,294.598899,-1.325432,-5.601747,0,322
3,314,8.21,103,2,2.0,3.0,0,0.65,3148.21,-6.061747,286.598899,-0.825432,286.598899,1,314
4,330,9.34,115,5,4.5,3.0,1,0.90,3309.34,-4.931747,302.598899,-0.825432,-0.825432,0,330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,3249.04,-5.231747,296.598899,-0.325432,-0.325432,0,324
381,325,9.11,107,3,3.0,3.5,1,0.84,3259.11,-5.161747,297.598899,-0.325432,-5.161747,0,325
382,330,9.45,116,4,5.0,4.5,1,0.91,3309.45,-4.821747,302.598899,0.674568,0.674568,0,330
383,312,8.78,103,3,3.5,4.0,0,0.67,3128.78,-5.491747,284.598899,0.174568,-5.491747,0,312
384,333,9.66,117,4,5.0,4.0,1,0.95,3339.66,-4.611747,305.598899,0.174568,0.174568,0,333

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [117]:
data['adjusted_gre'] = data['gre_score']

In [121]:
def add_gre(col):
    if col['university_rating'] >= 4:
        return col['adjusted_gre'] +10 
    else:
        return col['adjusted_gre']

In [124]:
data['adjusted_gre'] = data.apply(add_gre, axis=1)

In [127]:
data['adjusted_gre'] = pd.cut(data['adjusted_gre'], bins= 4)

In [128]:
data

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,combined_gre_cgpa,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,118,4,4.5,4.5,1,0.92,3379.65,-4.621747,309.598899,0.674568,309.598899,1,"(335.0, 350.0]"
1,316,8.00,104,3,3.0,3.5,1,0.72,3168.0,-6.271747,288.598899,-0.325432,-6.271747,0,"(305.0, 320.0]"
2,322,8.67,110,3,3.5,2.5,1,0.80,3228.67,-5.601747,294.598899,-1.325432,-5.601747,0,"(320.0, 335.0]"
3,314,8.21,103,2,2.0,3.0,0,0.65,3148.21,-6.061747,286.598899,-0.825432,286.598899,1,"(305.0, 320.0]"
4,330,9.34,115,5,4.5,3.0,1,0.90,3309.34,-4.931747,302.598899,-0.825432,-0.825432,0,"(335.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,3249.04,-5.231747,296.598899,-0.325432,-0.325432,0,"(320.0, 335.0]"
381,325,9.11,107,3,3.0,3.5,1,0.84,3259.11,-5.161747,297.598899,-0.325432,-5.161747,0,"(320.0, 335.0]"
382,330,9.45,116,4,5.0,4.5,1,0.91,3309.45,-4.821747,302.598899,0.674568,0.674568,0,"(335.0, 350.0]"
383,312,8.78,103,3,3.5,4.0,0,0.67,3128.78,-5.491747,284.598899,0.174568,-5.491747,0,"(305.0, 320.0]"
384,333,9.66,117,4,5.0,4.0,1,0.95,3339.66,-4.611747,305.598899,0.174568,0.174568,0,"(335.0, 350.0]"