# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code herepandas/your-code/data/
adminpre=pd.read_csv(r'C:\Users\Portu\Documents\Ironhack\week_2\lab-advanced-pandas\your-code\data\Admission_Predict.csv')
adminpre.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
adminpre.columns.str.replace(" ","")

Index(['SerialNo.', 'GREScore', 'TOEFLScore', 'UniversityRating', 'SOP', 'LOR',
       'CGPA', 'Research', 'ChanceofAdmit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
adminpre.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
adminpre.isna()
adminpre.isnull().sum().sum()

0

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [17]:
# your code here
adminpre.set_index('Serial No.', drop=False, inplace=True)
print(adminpre)

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0
...                ...        ...          ...                ...  ...   ...
381                381        324          110                  3  3.5   3.5
382                382        325          107                  3  3.0   3.5
383                383        330          116                  4  5.0   4.5
384                384        312          103                  3  3.5   4.0
385                385        333          117                  4  5.0   4.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90
...          ...       ...               ...
381         9.04         1              0.82
382         9.11         1              0.84
383         9.45         1              0.91
384         8.78         0              0.67
385         9.66         1              0.95

[385 rows x 9 columns]

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [18]:
# your code here
adminpre.set_index(['GREScore','CGPA'], drop=False, inplace=True)
adminpre

KeyError: "None of ['GREScore'] are in the columns"

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [19]:
# your code here
adminpre.reset_index(inplace=True)

ValueError: cannot insert Serial No., already exists

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [6]:
# your code here
adminpre["selected"]=(adminpre["CGPA"]>9) & (adminpre["Research"]==1)
print(adminpre["selected"])

0       True
1      False
2      False
3      False
4       True
       ...
380     True
381     True
382     True
383    False
384     True
Name: selected, Length: 385, dtype: bool

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [7]:
# your code here
adminpre["selected"]=(adminpre["CGPA"]>9) & (adminpre["SOP"]<3.5)
print(adminpre["selected"])

0      False
1      False
2      False
3      False
4      False
       ...
380    False
381     True
382    False
383    False
384    False
Name: selected, Length: 385, dtype: bool

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [12]:
def standardarize(col):
    col=((col)-np.mean(col))/np.std(col)
    return col
    
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [13]:
# your code here
admissions["CGPA_std"]=standardarize("CGPA")
admissions["GRE_std"]=standardarize("GREScore")
admissions["LOR_std"]=standardarize("LOR")

TypeError: cannot perform reduce with flexible type

We will generate the decision choice at random using the code below. Please run the cell.

In [10]:
# Libraries
from random import choices

In [11]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

NameError: name 'admissions' is not defined

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# your code here

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here